/**
 * Artikel (Blogpost)
 *
 * @author  Marco Di Bella <mdb@marcodibella.de>
 * @package mdb-congressomat
 **/



.article {
    font-weight: normal;

    @include respond-to( 768 ) {
        font-size: 18px;
    }

    p::not(.wc-responsive-video),
    ol,
    ul {
        padding: $space 0;

        & > strong {
            font-weight: bold;
        }
    }

    & > p {
        @include p-tag-basic-settings();
        color: inherit;

        &.lead {
            font-weight: 300;
            margin-bottom: 2em;
        }
    }

    & > p,
    & > header,
    & > .wp-block-image {
        margin-bottom: 2em;
    }

    & > h2,
    & > .wp-block-image {
        margin-top: 2em;
    }

    & > header h1 {
        font-size: 2em;
    }

    & > h2 {
        margin-bottom: .6em;
        font-size: 1.4em;
        color: $color-highlight;
    }

    .wp-block-image {
        figure {
            line-height: 0;
        }

        figcaption {
            background: #f4f4f4;
            color: #777;
            margin: 0;
            padding: 1.5em;
            line-height: 1.2;
            font-size: 80%;
        }
    }

    a {
        @include a-tag-basic-settings();
    }
}
