/**
 * Artikel (Blogpost)
 *
 * @author  Marco Di Bella <mdb@marcodibella.de>
 * @package mdb-congressomat
 **/



.article {
//    font-family: $font-slab;
    font-weight: normal;
    font-size: 22px;
    letter-spacing: 0.3px;
    line-height: 1.5;
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;

    @include respond-to(992) {
        font-size: 18px;
    }

    p::not(.wc-responsive-video),
    ol,
    ul {
        padding: $space 0;
        letter-spacing: 0.8px;

        & > strong {
            font-weight: bold;
        }
    }

    & > p {
        color: #777;
        margin-bottom: 2*$space;

        @include respond-to(992) {
            margin-bottom: 3*$space;
        }
    }

    & > p.lead {
        color: #555;
        font-size: 1.3rem;
        line-height: 1.4;
    }

    & > header,
    & > p.lead {
        margin-bottom: 3*$space;

        @include respond-to(992) {
            margin-bottom: 6*$space;
        }
    }

    & > header h1 {
        font-size: 2rem;
        font-weight: 300;
        line-height: 1.3;
        -webkit-hyphens: none;
            -ms-hyphens: none;
                hyphens: none;
    }

/*
    figure {
        width: auto;
        max-width: unset !important;
        margin-left: -$space;
        margin-right: -$space;
        margin-top: 3*$space;
        margin-bottom: 3*$space;

        @include respond-to(992) {
            margin-left: -5*$space;
            margin-right: -5*$space;
            margin-top: 5*$space;
            margin-bottom: 5*$space;
        }

        .wc-responsive-video,
        .graphcommons,
        img {
            background: $color-white;
            width: 100%;
            height: auto;
            -webkit-box-shadow: 0 1px 10px 0 rgba(0,0,0,0.35);
                    box-shadow: 0 1px 10px 0 rgba(0,0,0,0.35);
        }

        figcaption {
            margin-top: 0.5em;
            padding: 0 $space;
            font-size: 18px;
            font-family: $font-sans;
            font-weight: 400;
            line-height: 1.4;
            letter-spacing: .5px;
            color: $color-lightgray;
            text-align: left;

            @include respond-to(576) {
                font-size: 16px;
            }

            @include respond-to(992) {
                font-size: 18px;
                padding: $space 0;
            }
        }
    }
*/
    a {
        padding: 0 2px;
        -webkit-transition: all .25s linear;
                transition: all .25s linear;
        color: $color-highlight;

        &:hover,
        &:focus {
    //        color: $color-blue;
    //        background: $color-white;
            text-decoration: underline;
        }
    }
}
