/**
 * Artikel (Blogpost)
 *
 * @author  Marco Di Bella <mdb@marcodibella.de>
 * @package mdb-congressomat
 **/



.article {
    font-weight: normal;
    font-size: 18px;
    color: #777;

    p::not(.wc-responsive-video),
    ol,
    ul {
        padding: $space 0;
        letter-spacing: 0.8px;

        & > strong {
            font-weight: bold;
        }
    }

    & > p {
        @include p-tag-basic-settings();
        color: inherit;
        margin-bottom: 1rem;
        line-height: 1.3;

        @include respond-to(992) {
            line-height: 1.5;
        }

        &.lead {
            font-weight: 500;
        }
    }

    & > header {
        margin-bottom: 2em;

        h1 {
            font-size: 1.5rem;

            @include respond-to(992) {
                font-size: 2rem;
            }
        }
    }

    & > h2 {
        margin-bottom: 1rem;
        margin-top: 2rem;

        color: $color-highlight;
        font-size: 1.25rem;

        @include respond-to(992) {
            font-size: 1.3rem;
        }
    }

    .wp-block-image {
        margin: 2rem auto;
        line-height: 0;

        figcaption {
            background: #f4f4f4;
            margin: 0;
            line-height: 1.2;
            padding: 2*$space;

            @include respond-to(992) {
                padding: 3*$space;
            }
        }
    }

    a {
        @include a-tag-basic-settings();
    }
}
