/**
 * Grundlegende Formatierungen und Einstellungen
 *
 * @author  Marco Di Bella <mdb@marcodibella.de>
 * @package mdb-congressomat
 **/



html,
body {
    height: 100%;
   	font-size: 16px;
	font-weight: 400;
    font-family: $font-sans;
    -moz-osx-font-smoothing: grayscale;
     -webkit-font-smoothing: subpixel-antialiased;
             text-rendering: geometricPrecision;

    @include respond-to(576) {
        font-size: 18px;
    }
}

html {
    margin: 0 !important;
}

body {
    margin: 0;
    padding: 0;
    background: #fff;
    color: #777;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

a {
    text-decoration: none;
}

h1,
h2,
h3 {
    font-weight: 300;
    font-size: 2rem;
    line-height: 1.3;
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;

    @include respond-to(992) {
        -webkit-hyphens: none;
            -ms-hyphens: none;
                hyphens: none;
    }
}



/**
 * Diverse wiederkehrende Klassen
 **/

.subheading {
    display:block;
    -webkit-hyphens: none;
        -ms-hyphens: none;
            hyphens: none;
    font-weight: normal;
    font-size: 1rem;
    margin-top: .5em;
}

.btn {
    text-decoration: none;
    padding: 2*$space; // 3*$space;
    display: inline-block;
    border: 2px solid #999;
    color: #999;
    -webkit-transition: all .3s ease-out;
            transition: all .3s ease-out;

    &:hover,
    &:focus {
        background: #999;
        color: #fff;
    }

    &.disabled {
        pointer-events: none;
        cursor: default;
        color: #ddd;
        border-color: transparent;
    }

    &.btn-flex {
        padding: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
           -ms-flex-pack: center;
         justify-content: center;
        -webkit-box-align: center;
           -ms-flex-align: center;
              align-items: center;
    }
}

.breadcrumb {
    display: block;
    width: 100%;
    padding: 0 2*$space;

    @include respond-to( 768 ) {
        padding: 0;
    }

    & > span {
        // Angaben analog .megamenu
        display: block;

        & > * {
            font-size: 80%;
            color: #777;
        }

        a {
            @include a-tag-basic-settings();
            color: #555 !important;
        }
    }
}
