/**
 * Grundlegende Formatierungen und Einstellungen
 *
 * @author  Marco Di Bella <mdb@marcodibella.de>
 * @package mdb-congressomat
 **/



html,
body {
    height: 100%;
   	font-size: 16px;
	font-weight: 400;
    font-family: $font-sans;
    -moz-osx-font-smoothing: grayscale;
     -webkit-font-smoothing: subpixel-antialiased;
             text-rendering: geometricPrecision;

    @include respond-to(576) {
        font-size: 18px;
    }
}

html {
    margin: 0 !important;
}

body {
    margin: 0;
    padding: 0;
    background: $color-white;
    color: #555;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

a {
    text-decoration: none;
}

h1,
h2,
h3 {
    -webkit-hyphens: none;
        -ms-hyphens: none;
            hyphens: none;
    font-weight: 300;
    font-size: 2rem;
    line-height: 1.2;
}

.subheading {
    display:block;
    -webkit-hyphens: none;
        -ms-hyphens: none;
            hyphens: none;
    font-weight: normal;
    font-size: 1rem;
    margin-top: .5em;
}
