/**
 * Seitenelemente
 *
 * @author  Marco Di Bella <mdb@marcodibella.de>
 * @package mdb-congressomat
 **/



/**
 * Kopfzeile
 **/

#header {
    z-index: 400;
    display: block;
    width: 100%;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
}


/**
 * Wrapper für die Kopfzeilenelemente #logo, #toggle, #primary
 **/

#header-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
       -ms-flex-align: center;
          align-items: center;

    & > div {
        width: 100%;
    }

    & > div:nth-child(2) {
        text-align: center;
        margin: 0 0 1em;
    }

    @include respond-to(768) {
        // Bereich mit dem Logo (#logo)
        & > div:nth-child(1) {
            width: 50%;
        }

        // Bereich mit dem Menüumschalter (#toggle)
        & > div:nth-child(2) {
            width: 50%;
            text-align: right;
            margin: 0;
        }

        // Bereich des Hauptmenüs (#primary)
        & > div:nth-child(3) {
            width: 100%;
        }
    }

    @include respond-to(992) {
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;

        // Bereich mit dem Logo (#logo)
        & > div:nth-child(1) {
            width: 25%;
        }

        // Bereich mit dem Menüumschalter (#toggle)
        & > div:nth-child(2) {
            display: none;
            width: 0;
        }

        // Bereich des Hauptmenüs (#primary)
        & > div:nth-child(3) {
            width: 75%;
        }
    }
}

@mixin line {
    display: inline-block;
    width: 30px;
    height: 3px;
    background: #555;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

#toggle {
    margin: $space;

    .lines {
        @include line;
        position: relative;

        &:before,
        &:after {
            @include line;
            position: absolute;
            left:0;
            content: '';
            -webkit-transform-origin: center;
                    transform-origin: center;
        }

        &:before {
            top: 10px;
        }

        &:after {
            top: -10px;
        }
    }

    &.on .lines {
        background: transparent;

        &:before,
        &:after{
            -webkit-transform-origin: center;
                    transform-origin: center;
            top: 0;
            width: 30px;
        }

        // rotate the lines to form the x shape
        &:before{
            -webkit-transform: rotate(45deg);
                    transform: rotate(45deg);
        }

        &:after{
            -webkit-transform: rotate(-45deg);
                    transform: rotate(-45deg);
        }
    }
}



/**
 * Logo in der Kopfzeile
 **/

#logo {
    display: inline-block;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: 0 !important;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding: 20px 0;

    @include respond-to(992) {
        padding: 0;
    }

    svg {
        width: auto;
        height: 32px;
    }
}


/**
 * Hauptinhaltsbereich (#main)
 **/

#main {
    width: 100%;
}



/**
 * Hauptnavigation (#primary) mit MegaMenu-Integration
 *
 * @source	https://tympanus.net/codrops/2013/03/05/horizontal-drop-down-menu/
 * @see		frontend.js, class-megamenu-walker.php
 **/

#primary {
    width: 100%;
    display: none;

    // Unterstützung für #toggle
    &.on {
        display: block;
    }

    @include respond-to(992) {
        display: block;
    }

    // Generell
    ul {
    	margin: 0;
    	padding: 0;
    	list-style-type: none;
    }

    // Toplevel
    & > ul {
	    width: 100%;

	    & > li {
		    display: block;
		    border-bottom: 1px solid #ddd;

		    @include respond-to(992) {
			    display: inline-block;
			    border-bottom: 0;
		    }
        }

	    & > li > a {
		    display: block;
		    padding: 1em;
    		width: 100%;
    		font-weight: 400;
    		color: #555;

        	@include respond-to(992) {
        		display: -webkit-box;
        		display: -ms-flexbox;
        		display: flex;
        		width: unset;
        		font-size: 18px;
        		padding: 3*$space 2*$space;
        	}

    	    @include respond-to(1200) {
    		    padding: 3*$space;
    	    }
        }

        & > li > a:hover,
    	& > li.open > a,
    	& > li.open > a:hover {
    		color: #555;
    		background: #ddd;
    	}
    }

    // Ausklappbares Dropdown im MegaMenu-Stil
    .megamenu .megamenu-wrapper {
		display: none;
		background: #ddd;
		width: 100%;
		left: 0;
		position: relative;

		@include respond-to(992) {
			position: absolute;
		}
	}

	.megamenu.open .megamenu-wrapper {
		display: block;
		padding-bottom: 3em;
        z-index: 500;
        -webkit-box-shadow: 0 4px 10px -2px rgba(0,0,0,0.1);
                box-shadow: 0 4px 10px -2px rgba(0,0,0,0.1);
	}

    .megamenu .megamenu-content {
    	width: 100%;
    	margin: 0 auto;
    	padding: 0 1.875em;

    	@include respond-to(768) {
    		width: 90%;
    		max-width: 70em;
    		display: -webkit-box;
    		display: -ms-flexbox;
    		display: flex;
    		-webkit-box-orient: horizontal;
    		-webkit-box-direction: normal;
    		   -ms-flex-direction: row;
    			   flex-direction: row;
    		-webkit-box-pack: center;
    		   -ms-flex-pack: center;
    		 justify-content: center;
    		-ms-flex-wrap: nowrap;
    		    flex-wrap: nowrap;
    	}

    	&:after {
    	   	clear: both;
    	}

    	// Menüspalte
    	& > li {
    		width: 100%;
        	display: inline-block;
        	padding: 0 1em 0;

    		@include respond-to(992) {
    			width: 33%;
    			padding: 0 2em 0;
    		}
    	}

        // Überschrift für Menüspalte
    	h4 {
    		color: #fff;
    		padding: 1em 0 0.6em;
    		margin: 0;
    		font-size: 140%;
    		font-weight: 400;

    		@include respond-to(768) {
    			padding: 2em 0 0.6em;
    		}
    	}

    	// Menüpunkt
    	a {
    		line-height: 2em;
    		color: #555;
    	}

        // Menüpunkt als Downloadlink
    	.download > a::before {
    		display: inline-block;
    		font-style: normal;
    		font-variant: normal;
    		text-rendering: auto;
    		-webkit-font-smoothing: antialiased;
    		font-family: "Font Awesome 5 Pro";
    		font-weight: 500;
    		content: "\f358";
    		padding-right: $space;
    	}
    }
}
