/**
 * Seitenelemente
 *
 * @author  Marco Di Bella <mdb@marcodibella.de>
 * @package mdb-congressomat
 **/



// Kopfzeile (#header)
#header {
    display: block;
    witdh: 100%;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
}

#logo {

}

#breadcrumb {
    display: block;
    width: 100%;
    padding: 2*$space $space;
    background: #fafafa; //$color-lightgray;

    & > span {
        // Angaben analog .megamenu
        display: block;
        width: 90%;
        max-width: 70em;
        margin: 0 auto;
        padding: 0 1.875em;

        & > * {
            font-size: 90%;
            color: #888;
        }

        a {
            color: #888 !important;
        }
    }
}


// Hauptinhaltsbereich (#main)
#main {
    //padding-top: $header-height;
    width: 100%;
}



#primary {
    //border-bottom: 2*$space solid $color-highlight;
}
