/**
 * Häufig gestellte Fragen (FAQ)
 *
 * @author  Marco Di Bella <mdb@marcodibella.de>
 * @package mdb-congressomat
 **/



/**
 * Akkordionliste mit häufig gestellten Fragen
 * @see: https://tympanus.net/Blueprints/NestedAccordion/
 **/

.faq-accordion {
    list-style: none;

    li {
        width: 100%;

        h3 {
            font-size: 1.5rem;
            border-bottom: 1px solid #ddd;
            padding: 1em 0 0.5em;
            cursor: pointer;

            & > span {
                padding-right: 2*$space;
                width: 4*$space;

                i {
                    -webkit-transition: all .5s ease-out;
                            transition: all .5s ease-out;
                }
            }

            &.on > span > i {
                -webkit-transform-origin: center;
                        transform-origin: center;
                -webkit-transform: rotate(90deg);
                        transform: rotate(90deg);
            }
        }

        p {
            font-weight: 300;
            font-size: 1.25em;
        }

        div {
            display: none;
            background: #f9f9f9;
            padding: 1rem 4*$space;
            margin-bottom: 2rem;
        }
    }
}
