/**
 * Häufig gestellte Fragen (FAQ)
 *
 * @author  Marco Di Bella <mdb@marcodibella.de>
 * @package mdb-congressomat
 **/



/**
 * Akkordionliste mit häufig gestellten Fragen
 * @see: https://tympanus.net/Blueprints/NestedAccordion/
 **/

.faq-accordion {
    list-style: none;

    li {
        width: 100%;

        h3 {
            border-bottom: 1px solid #ddd;
            padding: 0.5em 0;
            cursor: pointer;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;

            & > span {
                display: inline-block;
                font-size: 1.25rem;
                line-height: 1.3;

                @include respond-to(768) {
                    font-size: 1.5rem;
                }
            }

            & > span:first-of-type {
                margin-right: $space;
                width: 2*$space;

                @include respond-to(768) {
                    width: 3*$space;
                }

                i {
                    -webkit-transition: all .5s ease-out;
                            transition: all .5s ease-out;
                }
            }

            &.on > span:first-of-type > i {
                -webkit-transform-origin: center;
                        transform-origin: center;
                -webkit-transform: rotate(90deg);
                        transform: rotate(90deg);
            }
        }

        p {
            font-weight: 300;
            font-size: 1rem;

            @include respond-to(768) {
                font-size: 1.25rem;
            }
        }

        div {
            display: none;
            background: #f9f9f9;
            margin-bottom: 1rem;
            padding: 1rem 3*$space;

            @include respond-to(768) {
                margin-bottom: 2rem;
                padding: 1rem 4*$space;
            }
        }
    }
}
