/**
 * Hauptnavigationsleiste mit MegaMenu-Integration
 *
 * @author  Marco Di Bella <mdb@marcodibella.de>
 * @package mdb-congressomat
 * @source	https://tympanus.net/codrops/2013/03/05/horizontal-drop-down-menu/
 * @see		frontend.js, class-megamenu-walker.php
 **/



.megamenu {
	width: 100%;
	margin-top: 2em;
	border-bottom: 4px solid #47a3da;
}

/* general ul style */
.megamenu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/* first level ul style */
.megamenu > ul,
.megamenu .sub-menu-inner {
	width: 90%;
	max-width: 70em;
	margin: 0 auto;
	padding: 0 1.875em;
}

.megamenu > ul > li {
	display: inline-block;
}

.megamenu > ul > li > a {
	font-weight: 700;
	padding: 1em 2em;
	color: #999;
	display: inline-block;

	&:hover {
		color: #47a3da;
	}
}

.megamenu > ul > li.open a,
.megamenu > ul > li.open > a:hover {
	color: #fff;
	background: #47a3da;
}

/* sub-menu */
.megamenu .submenu {
	display: none;
	position: absolute;
	background: #47a3da;
	width: 100%;
	left: 0;

    h4 {
    	color: #afdefa;
    	padding: 2em 0 0.6em;
    	margin: 0;
    	font-size: 160%;
    	font-weight: 300;
    }
}

.open .submenu {
	display: block;
	padding-bottom: 3em;
}

.megamenu .submenu-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    &:after {
	    clear: both;
    }

    & > li {
    	width: 33%;
        display: inline-block;
    	padding: 0 2em 0;

        a {
	        line-height: 2em;
        }
    }
}

.megamenu .download::before {
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	font-family: "Font Awesome 5 Pro";
	font-weight: 500;
	content: "\f358";
	padding-right: $space;
}


/* Examples for media queries */
/*
@media screen and (max-width: 52.75em) {

	.megamenu {
		font-size: 80%;
	}

}

@media screen and (max-width: 43em) {

	.megamenu {
		font-size: 120%;
		border: none;
	}

	.megamenu > ul,
	.megamenu .submenu-inner {
		width: 100%;
		padding: 0;
	}

	.megamenu .submenu-inner {
		padding: 0 2em;
		font-size: 75%;
	}

	.megamenu > ul > li {
		display: block;
		border-bottom: 4px solid #47a3da;
	}

	.megamenu > ul > li > a {
		display: block;
		padding: 1em 3em;
	}

	.megamenu .submenu {
		position: relative;
	}

	.megamenu h4 {
		padding-top: 0.6em;
	}

}

@media screen and (max-width: 36em) {
	.megamenu .submenu-inner > div {
		width: 100%;
		float: none;
		padding: 0 2em;
	}
} */
