/**
 * Mixins
 *
* @author  Marco Di Bella <mdb@marcodibella.de>
* @package mdb-congressomat
**/



@mixin a-tag-basic-settings() {
    -webkit-transition: all .3s ease-out;
            transition: all .3s ease-out;
    color: #555;
    border-bottom: 1px solid #ddd;
    padding: 2px;
    text-decoration: none;

    &:hover,
    &:focus {
        background: #ddd;
        border-bottom: 1px solid transparent;
    }
}

@mixin p-tag-basic-settings() {
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
    line-height: 1.65;
    text-align: left;
    margin-bottom: 1em;

    @include respond-to(992) {
        text-align: justify;
    }
}
