/**
 * Mixins
 *
* @author  Marco Di Bella <mdb@marcodibella.de>
* @package mdb-congressomat
**/



@mixin a-tag-basic-settings() {
    -webkit-transition: all .3s ease-out;
            transition: all .3s ease-out;
    color: $color-darkergray;
    border-bottom: 1px solid $color-notsolightgray;
    padding: 2px;
    text-decoration: none;

    &:hover,
    &:focus {
        background: $color-notsolightgray;
        border-bottom: 1px solid transparent;
    }
}

@mixin p-tag-basic-settings() {
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
    letter-spacing: -0.5px;
    line-height: 1.5;
    text-align: left;

    @include respond-to(992) {
        text-align: justify;
    }
}
