/**
 * Modulares Layout
 *
 * @author  Marco Di Bella <mdb@marcodibella.de>
 * @package mdb-congressomat
 **/



/**
 * Allgemeine Einstellungen
 **/

.module {
    width: 100%;

    .module-wrapper {
        margin: 0 auto;
        padding: 2*$space;

        @include respond-to(768) {
            width: 750px;
        }

        @include respond-to(992) {
            width: 970px;
            padding: 4*$space;
        }

        @include respond-to(1200) {
            width: 1170px;
            padding: 6*$space;
        }

        @include respond-to(1600) {
            width: 1400px;
        }
    }

    .module-content header,
    .module-content .article > header {
        @include module-header-settings();
    }
}



/**
 * Modul mit Hero-Grafik
 **/

.module.module-hero {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

#main > .module-hero:first-child {
    // um unteren Rand von #header zu überdecken
    margin-top: -1px;
}



/**
 * Modul mit Spalten
 **/

.module.module-one-column,
.module.module-two-column,
.module.module-three-column {

    .module-column {
        width: 100%;
/*
        & > header,
        & > .article > header {
            @include module-header-settings();
        }
*/    }

    .module-column-wrapper {
        display: flex;
        flex-wrap: wrap;

        @include respond-to(992) {
            flex-wrap: nowrap;
        }
    }
}

.module-two-column .module-column {
    @include respond-to(992) {
        width: 50%;
    }
}

.module-three-column .module-column {
    @include respond-to(992) {
        width: 30%;
    }
}


/*
    .module-column {
        @include respond-to(992) {

            &.module-column-width-30 {
                width: 30%;
            }

            &.module-column-width-40 {
                width: 40%;
            }

            &.module-column-width-60 {
                width: 60%;
            }

            &.module-column-width-70 {
                width: 70%;
            }
        }
    }
*/


/**
 * Farbversionen
 **/

.module-lightgray {
    background: #f4f4f4;
}








/**
 * Modul 'Footer-Widgets'
 **/

.module-footer-widgets {
    .module-content {
        display: flex;
        flex-wrap: wrap;

        @include respond-to(992) {
            flex-wrap: nowrap;
        }
    }

    .widget-area {
        width: 100%;

        @include respond-to(992) {
            width: 33%;

            &:not(:last-child) {
                margin-right: $space;
            }

            &:not(:first-child) {
                margin-left: $space;
            }
        }

        @include respond-to(1200) {
            &:not(:last-child) {
                margin-right: 2*$space;
            }

            &:not(:first-child) {
                margin-left: 2*$space;
            }
        }
    }

    .widget_nav_menu ul {
        list-style-type: none;

        & > li {
            border-bottom: 1px solid #777;
            line-height: 2.5em;
            color: #555;
            padding: 5px 0;
            font-size: 90%;
            font-weight: 400;

            a {
                @include a-tag-basic-settings();
                border-bottom: none !important;
            }
        }
    }
}
