/**
 * Modulares Layout
 *
 * @author  Marco Di Bella <mdb@marcodibella.de>
 * @package mdb-congressomat
 **/



/**
 * Modul 'Standard'
 **/

.module {
    width: 100%;
    // Für Hero-Grafiken
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;

    .module-title {
        padding-bottom: 2*$space;

        @include respond-to(992) {
            padding-bottom: 4*$space;
        }

        &.module-title-alignment-left {
            text-align: left;
        }

        &.module-title-alignment-center {
            text-align: center;
        }

        &.module-title-alignment-right {
            text-align: right;
        }
    }

    .module-wrapper {
        margin: 0 auto;
        padding: 2*$space;

        @include respond-to(768) {
            width: 750px;
        }

        @include respond-to(992) {
            width: 970px;
            padding: 4*$space;
        }

        @include respond-to(1200) {
            width: 1170px;
            padding: 6*$space;
        }

        @include respond-to(1600) {
            width: 1400px;
        }
    }
}



/**
 * Farbversionen
 **/

.module-lightgray {
    background: #f4f4f4;
}



/**
 * Modul 'Brotkrümmel'
 **/

.module-breadcrumb {
    .module-wrapper {
        padding: 2*$space 0;

        @include respond-to(768) {
            width: calc(750px - 2*2*#{$space});
            //padding: 3*$space 0 0 !important;
        }

        @include respond-to(992) {
            width: calc(970px - 2*4*#{$space});
        }

        @include respond-to(1200) {
            width: calc(1170px - 2*4*#{$space});
        }

        @include respond-to(1600) {
            width: calc(1400px - 2*4*#{$space});
        }
    }
}
