/**
 * Partner
 *
 * @author  Marco Di Bella <mdb@marcodibella.de>
 * @package mdb-congressomat
 **/



/**
 * Tabelle mit Kongresspartnern
 **/

.partner-table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    max-width: 100%;
    line-height: 1.5;

    tr > td {
        width: 100%;
        display: block;
        vertical-align: top;
        padding: 1rem 0;

        &:not(:first-of-type) {
            padding-top: 0;
        }

        @include respond-to(768) {
            width: auto;
            display: table-cell;
            padding: 1rem;

            &:not(:first-of-type) {
                padding-top: 1rem;
            }

            &:first-of-type {
                padding-left: 0;
            }

            &:last-of-type {
                padding-right: 0;
            }
        }

        @include respond-to(992) {
            padding: 2rem;

            &:not(:first-of-type) {
                padding-top: 2rem;
            }
        }
    }

    tr:not(:first-of-type) {
        border-top: 1px solid #ddd;
    }

    // Spalte mit Partnerbeschreibung
    .partner-description {
        font-weight: 300;

        & > span {
            display: block;
            width: 100%;
            margin-bottom: 1rem;

            @include respond-to(992) {
                margin-bottom: 1.5rem;
            }
        }

        .title {
            font-size: 1.3rem;
        }

        .description {
            @include p-tag-basic-settings();
            line-height: inherit;
            font-size: 1rem;
        }

        .link {
            a {
                @include a-tag-basic-settings();
            }
        }
    }

    // Spalte mit Angabe zum Messestand
    .partner-exhibition {
        .exhibition {
            display: block;
            font-weight: 500;
        }

        @include respond-to(768) {
            width: 15%;
        }
    }

    // Spalte mit Partnerlogo
    .partner-logo {
        vertical-align: top;

        @include respond-to(768) {
            width: 270px;
        }

        img {
            width: 100%;
            height: 100%;
            background: #f4f4f4;

            @include respond-to(768) {
                min-width: 150px;
            }
        }
    }
}



/**
 * Liste mit Kongresspartnern
 **/

.partner-list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
       -ms-flex-pack: center;
     justify-content: center;

    li {
        padding: $space 2*$space;
        width: 50%;

        @include respond-to(768) {
            width: 25%;
        }

        @include respond-to(768) {
            width: 20%;
        }
    }

    img {
        width: 100%;
        height: 100%;
    }
}
