/**
 * Speaker
 *
 * @author  Marco Di Bella <mdb@marcodibella.de>
 * @package mdb-congressomat
 **/



/**
 * Grid-Ansicht mit den Referenten
 **/

.speaker-grid {
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
       -ms-flex-align: start;
          align-items: flex-start;
    -ms-flex-line-pack: start;
         align-content: flex-start;

    .speaker-block {
        width: 100%;
        height: auto;
        margin: #{2*$space} #{2*$space} 0 0;
        width: calc(50% - #{2*$space});

        @include respond-to(768) {
            margin: #{4*$space} #{4*$space} 0 0;
            width: calc(50% - #{4*$space});
        }

        @include respond-to(992) {
            margin: #{2*$space} #{2*$space} 0 0;
            width: calc(25% - #{2*$space});
        }

        @include respond-to(1200) {
            margin: #{4*$space} #{4*$space} 0 0;
            width: calc(25% - #{4*$space});
        }
    }

    .speaker-image,
    .speaker-image > a > img {
        width: 100%;
        height: 100%;
        background: #ddd;
    }

    .speaker-image a {
        display: block;
        width: 100%;
        height: 100%;
        font-size: 0;
    }

    .speaker-caption {
        margin-top: $space;

        .speaker-title-name {
            @include a-tag-basic-settings();
            line-height: 1.9em;
            padding: 0 2px;
        }

        .speaker-position {
            font-weight: 500;
        }

    }
}


/**
 * Profilseite
 **/

.speaker-profile {
    & > div:last-of-type {
        padding: 2*$space 0;
    }

    @include respond-to(768) {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        & > div:first-of-type {
            width: 40%;
            max-width: 250px;
        }

        & > div:last-of-type {
            width: 60%;
            margin-left: 4*$space;
            padding: 0;
        }
    }

    .speaker-image {
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            background: #ddd;
        }
    }

    .speaker-title-name {
        font-size: 1.5rem;
    }

    .speaker-description {
        clear: both;
        display: inline-block;

        p {
            @include p-tag-basic-settings();
        }

        a {
            @include a-tag-basic-settings();
        }
    }

    .speaker-position {
        font-size: 1.2rem;
        font-weight: 500;
    }

    .speaker-social-media {
        display: inline-block;

        ul,
        ul li {
            list-style: none;
        }

        ul li {
            float: left;
            margin-right: .5*$space;
            margin-bottom: .5*$space;
        }

        .btn {
            width: 5*$space;
            height: 5*$space;

        }
    }

    .speaker-position,
    .speaker-social-media {
        margin-bottom: 2*$space;

        @include respond-to(768) {
            margin-bottom: 4*$space;
        }
    }
}
