/**
 * Speaker
 *
 * @author  Marco Di Bella <mdb@marcodibella.de>
 * @package mdb-congressomat
 **/



/**
 * Grid-Ansicht mit den Referenten
 **/

.speaker-grid {
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
       -ms-flex-align: start;
          align-items: flex-start;
    -ms-flex-line-pack: start;
         align-content: flex-start;

    .speaker-block {
        width: 100%;
        height: auto;
        margin: $space;
        width: calc( 50% - #{2*$space} );

        @include respond-to(768) {
            width: calc( 33% - #{2*$space} );
        }

        @include respond-to(1200) {
            width: calc( 25% - #{2*$space} );
        }

        @include respond-to(1600) {
            width: calc( 25% - #{4*$space} );
            margin: 2*$space;
        }
    }

    .speaker-image,
    .speaker-image > a > img {
        width: 100%;
        height: 100%;
    }

    .speaker-image a {
        display: block;
        width: 100%;
        height: 100%;
        font-size: 0;
    }

    .speaker-caption {
        margin-top: $space;

        .speaker-title-name {
            @include a-tag-basic-settings();
            line-height: 1.9em;
            padding: 0 2px;
        }

        .speaker-position {
            font-weight: 500;
            font-size: 90%;
        }

    }
}


/**
 * Profilseite
 **/

.speaker-profile {
    & > div:last-of-type {
        padding: 2*$space 0;
    }

    @include respond-to(768) {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        & > div:first-of-type {
            width: 40%;
            max-width: 250px;
        }

        & > div:last-of-type {
            width: 60%;
            margin-left: 4*$space;
        }
    }

    .speaker-image {
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;

            @include respond-to(576) {
                width: auto;
                height: auto;
            }
        }
    }

    .speaker-title-name {
        font-size: 36px;
    }

    .speaker-description,
    .speaker-position {
        margin-bottom: 2*$space;
    }

    .speaker-description {
        clear: both;
        display: inline-block;

        p {
            @include p-tag-basic-settings();
        }

        a {
            @include a-tag-basic-settings();
        }
    }

    .speaker-position {
        font-size: 21px;
        font-weight: 500;
    }

    .speaker-social-media {
        ul,
        ul li {
            list-style: none;
        }

        ul li {
            float: left;
            margin-right: $space;
            margin-bottom: $space;
        }

        ul li > a {
            @include a-tag-basic-settings();
            border-bottom-color: transparent;
        }
    }

}
