/**
 * Teaser (Blogpost)
 *
 * @author  Marco Di Bella <mdb@marcodibella.de>
 * @package mdb-congressomat
 **/



.teaser-list {
    padding: 4*$space 0;

    .teaser {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            line-height: 0;

            @include respond-to(768) {
                -ms-flex-wrap: nowrap;
                flex-wrap: nowrap;
            }
    }

    .teaser-image {
        display: block;

        @include respond-to(768) {
            display: inline-block;
            width: 25%;
        }

        @include respond-to(992) {
            width: 40%;
            max-width: 400px;
        }

        img {
            width: 100%;
            height: auto;
        }
    }

    .teaser-content {
        display: block;
        padding-top: 2*$space;

        @include respond-to(768) {
            display: inline-block;
            width: 75%;
            padding-top: 0;
            padding-left: 2*$space;
        }

        @include respond-to(992) {
            width: 60%;
            padding-left: 4*$space;
        }

        h2 {
            font-size: 1.3rem;
            margin-bottom: 1rem;
        }

        a {
            @include a-tag-basic-settings();
        }

        p {
            @include p-tag-basic-settings();
            font-size: 16px;

            &.teaser-more {
                margin-top: 1rem;
                text-align: right;
            }
        }
    }

    .teaser + .teaser {
        margin-top: 3*$space;
    }
}
