/**
 * Variablen
 *
* @author  Marco Di Bella <mdb@marcodibella.de>
* @package mdb-congressomat
**/



// Größenangaben
$space:				10px; //0.625rem;
$menu-height:       60px;
$header-height:     $menu-height;


// Farben
$color-darkgray:        #777;
$color-lightgray:       #f8f8f8;
$color-notsolightgray:  #f0f0f0;
$color-white:           #fff;
$color-highlight:       #d11520; // Rot
$color-notsohighlight:  #f4d5d5;
$color-darkergray:      #555;


$color-gray:        #888;
$color-light:       #fcfcfc;





// Schriftarten
$font-sans:         'Roboto'; //'Noto Sans'; //Roboto Condensed';
