/**
 * Variablen
 *
* @author  Marco Di Bella <mdb@marcodibella.de>
* @package mdb-congressomat
**/



// Größenangaben
$space:				10px; //0.625rem;
$menu-height:       60px;
$header-height:     $menu-height;


// Farben
$color-gray:        #888;
$color-lightgray:   #eee;
$color-white:       #fff;


// Hausfarben
$color-highlight:   #cc020c; // Rot


// Schriftarten
$font-sans:         'Noto Sans'; //Roboto Condensed';
