/**
 * Variablen
 *
* @author  Marco Di Bella <mdb@marcodibella.de>
* @package mdb-congressomat
**/



// Größenangaben
$space:				10px; //0.625rem;
$menu-height:       60px;
$header-height:     $menu-height;


// Farben
$color-highlight:       #d11520; // Rot
$color-notsohighlight:  #f4d5d5;



// Schriftarten
$font-sans:         'Roboto'; //'Noto Sans'; //Roboto Condensed';
