/**
 * Frontend-Styles für dieses Thema
 *
* @author  Marco Di Bella <mdb@marcodibella.de>
* @package mdb-congressomat
* @version 1.0.0
**/



// Variablen
$unit:				    10px; //0.625rem;
$menu-height:           60px;
$header-height:         $menu-height;
$button-size:           30px;
$color-highlight:       #d11520; // Rot
$color-notsohighlight:  #f4d5d5;
$font-sans:             'Roboto';



// Imports
@import "_media-queries";
@import "_mixins";
@import "_basics";
@import "_elements";
@import "_module";
@import "_article";
@import "_teaser";
@import "_event";
@import "_partner";
@import "_speaker";
@import "_faq";
@import "_registration"
