/* Site header */

#header {
    z-index: 400;
    display: block;
    width: 100%;
    box-sizing: content-box;
}

#header-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    // ab 960px (large)
    @include respond-to(large) {
        margin: 0 auto;
        width: calc(10 * calc(100vw/12) );
    }

    // ab 1280px (wide):
    @include respond-to(wide) {
        flex-wrap: nowrap;
        width: calc(8 * calc(100vw/12) );
    }
}


/* Abstand */

#header-spacer {
    display: none;
    width: 0;

    @include respond-to(wide) {
        display: block;
        width: 5%;
    }
}


/* Site branding */

#header-branding {
    width: 50%;
    margin: 0;

    @include respond-to(wide) {
        width: 20%;
    }
}

/* Hauptmenü */

#header-menu-toggle {
    text-align: right !important;
    width: 50%;

    @include respond-to(wide) {
        display: none;
        width: 0;
    }
}

#header-menu {
    width: 100%;

    @include respond-to(wide) {
        width: 75%;
    }
}
