/**
 * Elemente der Kopfzeile (Header)
 *
 * @author  Marco Di Bella <mdb@marcodibella.de>
 * @package congressomat
 **/



/* Site header */

#header {
    z-index: 400;
    display: block;
    width: 100%;
}


/* Unterstützung für QuadMenu Megamenü */

#quadmenu {
    box-shadow: $menu-boxshadow;

    .quadmenu-dropdown-stretch-dropdown {
        @include respond-to(large) {
            box-shadow: $menu-boxshadow;
        }
    }

}
