/**
 * MegaMenu
 *
 * @source	https://tympanus.net/codrops/2013/03/05/horizontal-drop-down-menu/
 * @see		frontend.js, class-megamenu-walker.php
 **/



.site-menu {
    width: 100%;
    display: none;

    // Unterstützung für #toggle
    &.toggle-on {
        display: block;
    }

    @include respond-to(wide) {
        display: block;
    }

    // Generell
    ul {
    	margin: 0;
    	padding: 0;
    	list-style-type: none;
    }

    // Toplevel
    & > ul {
	    width: 100%;

		@include respond-to(wide) {
			display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
        }


	    & > li {
		    display: block;
            padding:0;
            -webkit-hyphens: none;
                -ms-hyphens: none;
                    hyphens: none;

            @include respond-to(large) {
                line-height: inherit;
            }

		    @include respond-to(wide) {
			    display: inline-block;
		    }
        }

        & > li > a {
		    display: block;
            padding: 1em 2*$unit;
    		width: 100%;
    		font-weight: 400;
            font-size: 1rem;
    		color: #555;
            text-transform: uppercase;
            text-decoration: none;
            border: unset;

        	@include respond-to(wide) {
        		padding: 3*$unit 2*$unit;
        	}
        }

        & > li > a:hover,
    	& > li.open > a,
    	& > li.open > a:hover {
    		color: #555;
    		background: #ddd;
    	}
    }
}

// Ausklappbares Dropdown im MegaMenu-Stil
.submenu .submenu-wrapper {
	display: none;
	background: #eee;
    color: #555;
	width: 100%;
	left: 0;
	position: relative;
    padding: 1em 0;

	@include respond-to(wide) {
		position: absolute;
        padding: 2em 0;
    }

    & > ul {
        width: 100%;
        margin: 0 auto;
        padding: 0;

        @include respond-to(wide) {
    	    width: 90%;
    	    max-width: 80em;
            display: flex;
            flex-direction: row;
            justify-content: center;
    		flex-wrap: nowrap;
    	}

    	&:after {
    	    clear: both;
    	}
    }

    & > ul > li {
    	width: 100%;
        display: inline-block;
        padding: 0 1em 0;

        // Überschrift für Menüspalte
    	h4 {
    	    color: inherit;
            padding-top: 1em;
            padding-bottom: .6em;
    		margin: 0;
    		font-size: 1rem; // 16px
    		font-weight: 400;
            text-transform: uppercase;

    		@include respond-to(wide) {
                font-size: 1.25rem; // 20px
                padding-top: 0;
                padding-bottom: 1.2em;
    		}
    	}

        &:not(:first-of-type) h4 {
            border-top: 1px solid #ddd;
            margin-top: 1em;

            @include respond-to(wide) {
                border-top: none;
                margin-top: 0;
            }
        }

    	// Menüpunkt
        ul > li {
            padding: 0;

            a {
                @include a-tag-basic-settings();
                line-height: 1.8em;
    		    color: inherit;
                border-bottom-color: transparent;
                font-size: 1rem; // 16px

                @include respond-to(wide) {
                    font-size: 1.125rem; // 18px
                }
    	    }
    	}
    }
}

.submenu.open .submenu-wrapper {
    display: block;
    z-index: 500;

    @include respond-to(wide) {
        box-shadow: 0 0.8em 1.35em -0.5em rgba(0,0,0,0.3);
    }
}


/* Animierter Toggle-Button */

@mixin line {
    display: inline-block;
    width: 30px;
    height: 3px;
    background: #555;
    transition: 0.3s;
}

.site-menu-toggle {
    margin-top: 6px;
    padding: 2*$unit;
    cursor: pointer;
    display: inline-block;
    border: 0 !important;
    background: transparent !important;
    transition: all .3s ease-out !important;

    &:focus {
        outline: none !important;
    }

    .lines {
        @include line;
        position: relative;

        &:before,
        &:after {
            @include line;
            position: absolute;
            left:0;
            content: '';
            transform-origin: center;
        }

        &:before {
            top: 10px;
        }

        &:after {
            top: -10px;
        }
    }

    &.toggle-on .lines {
        background: transparent;

        &:before,
        &:after{
            transform-origin: center;
            top: 0;
            width: 30px;
        }

        &:before{
            transform: rotate(45deg);
        }

        &:after{
            transform: rotate(-45deg);
        }
    }
}
