/**
 * Diverse generelle Anpassungen
 *
 * @author  Marco Di Bella <mdb@marcodibella.de>
 * @package congressomat
 **/



.adjust-workspace {
    // minimaler Abstand zum linken und rechten Bildschirmrand
    padding-left: $unit;
    padding-right: $unit;

    & > .alignfull {
        // Blöcke, die über die volle Bildschirmbreite ausgedehnt werden sollen
        // auch tatsächlich über den minimalen linken und rechten Bildschirmrand ziehen
        width: calc(100% + #{2*$unit});
        margin-left: -#{$unit} !important;
        margin-right: -#{$unit} !important;
    }

    & > *:not(.alignfull) {
        @include set-block-position-and-size();
    }
}


body.post-template-default main,
body.page-template-default main {
    // einen oberen und unteren Innenabstand ergänzen
    padding-top: 2*$unit;
    padding-bottom: 2*$unit;

    @include respond-to(medium) {
        // ab 782px (medium): den Innenabstand erhöhen
        padding-top: 3*$unit;
        padding-bottom: 3*$unit;
    }

    @include respond-to(large) {
        // ab 960px (large): den Innenabstand weiter erhöhen
        padding-top: 4*$unit;
        padding-bottom: 4*$unit;
    }

    @include respond-to(wide) {
        // ab 1280px (wide): den Innenabstand noch weiter erhöhen
        padding-top: 6*$unit;
        padding-bottom: 6*$unit;
    }
}


body.page-template-landingpage-with-margin-on-bottom main {
    // einen unteren Innenabstand ergänzen
    padding-bottom: 2*$unit;

    @include respond-to(medium) {
        // ab 782px (medium): den Innenabstand erhöhen
        padding-bottom: 3*$unit;
    }

    @include respond-to(large) {
        // ab 960px (large): den Innenabstand weiter erhöhen
            padding-bottom: 4*$unit;
    }
}
