/**
 * Artikel (Blogpost, Standardseite)
 *
 * @author  Marco Di Bella <mdb@marcodibella.de>
 * @package congressomat
 **/



.article {
    & > * {
        margin-bottom: 2rem;

        &:last-child {
            margin-bottom: 0;
        }
    }


    & > h2 {
        @include h-tag-basic-settings();
        font-size: 1.25rem; // 20px
        margin-top: 2rem; // !!!
        margin-bottom: 1rem;

        @include respond-to(medium) {
            font-size: 1.375rem; // 22px
        }

        @include respond-to(large) {
            margin-top: 4rem; // !!!
        }
    }

}
