/**
 * Ersetzt eine Reihe von Stileinstellungen des Gutenberg Block Editors und fügt neue hinzu.
 *
 * @author  Marco Di Bella <mdb@marcodibella.de>
 * @package mdb-congressomat
 **/




/**
 * Sonstige Stile
 **/

.section-title,
.section-subtitle {
    font-weight: 300;
    margin-bottom: 2rem;
}


.section-title {
    font-size: 26px;

    @include respond-to(medium) {
        font-size: 34px;
    }

    & + .section-subtitle {
        margin-top: -1.3rem;
    }
}


.section-subtitle {
    font-size: 18px;

    @include respond-to(medium) {
        font-size: 24px;
    }
}


.neon-glow {
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
}


.lead {
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
    font-weight: 300 !important;
    font-size: 1.325em !important;
    line-height: 1.5 !important;

    @include respond-to(medium) {
        line-height: 1.5 !important;
        font-size: 1.5rem !important;
    }
}


.footnote {
    font-size: 0.875rem !important;
    font-weight: 300;

    sup {
        padding-right: 0.5*$unit;
    }
}


.download a::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Pro";
    font-weight: 500;
    content: "\f358";
    padding-right: $unit;
}
