/**
 * Several block editor related attributes (deprecated)
 *
 * @author  Marco Di Bella
 * @package cm-theme
 *
 * @deprecated
 */



/**
 * Padding
 *
 * Definiert die Angaben für den Innenabstand um
 */

.has-small-padding,
.has-medium-padding,
.has-large-padding,
.has-huge-padding {
    padding: $unit;
}


@include breakpoint(small) {
    .has-medium-padding,
    .has-large-padding {
        padding: 2*$unit;
    }

    .has-huge-padding {
        padding: 3*$unit;
    }
}


@include breakpoint(large) {
    .has-large-padding {
        padding: 3*$unit;
    }

    .has-huge-padding {
        padding: 4*$unit;
    }
}


@include breakpoint(huge) {
    .has-large-padding {
        padding: 5*$unit 3*$unit;
    }

    .has-huge-padding {
        padding: 6*$unit 4*$unit;
    }
}



/**
 * No Margin Switch
 *
 * Fügt '!important' hinzu
 */

.mb-0 {
    margin-bottom: 0 !important;
}


.mt-0 {
    margin-top: 0 !important;
}
