/**
 * Styles for this theme
 *
 * @author  Marco Di Bella
 * @package cm-theme
 */




/**
 * Articles
 */


// paragraph headers
.paragraph-header {
    @include h-tag-basic-settings();
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 1rem;

    @include breakpoint(medium) {
        font-size: 1.375rem;
        margin-bottom: 1.25rem;
    }

    @include breakpoint(large) {
        font-size: 1.5rem;
        margin-top: 4rem;
        margin-bottom: 2.5rem;
    }
}


// lead (teaser)
.lead,
.is-style-lead {
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
    font-weight: 300 !important;
    font-size: 1.325em !important;
    line-height: 1.5 !important;
    letter-spacing: -0.5px;
    margin-top: 2rem;
    margin-bottom: 2rem;

    @include breakpoint(medium) {
        line-height: 1.5 !important;
        font-size: 1.5rem !important;
    }
}


/* footnotes */
.footnote,
.is-style-footnote {
    font-size: .875rem !important;
    font-weight: 300;

    sup {
        padding-right: 0.5*$unit;
    }
}



/**
 * Wrapper elements
 */

.article-wrapper,
.section-wrapper,
.footer-widgets-wrapper {
    width: 100%;
    margin: 0 auto;

    padding-left: max( 1rem, calc( (100% - var(--wp--custom--layout--maxwidth) ) / 2 ) );
    padding-right: max( 1rem, calc( (100% - var(--wp--custom--layout--maxwidth) ) / 2 ) );
    padding-top: 2rem;
    padding-bottom: 2rem;

    @include breakpoint(wide) {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}



/**
 * Sections
 */

.section-title {
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 2rem;

    @include breakpoint(medium) {
        font-size: 34px;
    }
}

.section-subtitle {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 2rem;

    @include breakpoint(medium) {
        font-size: 24px;
    }
}

.section-title + .section-subtitle {
    margin-top: -1.5rem;
}



/**
 * Styles for the profile page of a speaker
 */

.single-speaker-profile {
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;

    @include breakpoint(small) {
        flex-wrap: nowrap;
    }

    .single-speaker-profile__column {
        flex-grow: 0;
        flex-basis: 100%;

        &:first-child {
            @include breakpoint(small) {
                flex-basis: 25%;
                flex-grow: 0;
            }
        }

        &:last-child {
            margin-top: 1rem;

            @include breakpoint(small) {
                margin-top: 0;
                flex-grow: 1;
                padding-left: 2rem;
            }

            @include breakpoint(large) {
                padding-left: 4rem;
            }

            @include breakpoint(wide) {
                padding-left: 6rem;
            }
        }
    }


    // Individual description components
    .speaker-image {
        width: 100%;
        height: auto;

        img {
            width: 100%;
            height: 100%;
            background: #fafafa;
            box-shadow: 0 1px 2px rgba(0,0,0,.12);
        }
    }

    .speaker-social-media {
        ul {
            all: initial;
            width: 100%;
            list-style-type: none;
            padding: 0;
            margin: 1rem 0;
            display: flex;
            justify-content: center;
        }

        li {
            all: initial;
            padding: 0;
            display: inline-block;
            margin: 2px;
        }

        .is-fa-button {
            color: #888;
        }
    }

    .speaker-title-name {
        font-size: 26px;
        font-weight: 300;
        margin-bottom: 2rem;

        @include breakpoint(medium) {
            font-size: 34px;
            margin-bottom: 3rem;
        }
    }

    .speaker-position {
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 2rem;

        @include breakpoint(medium) {
            font-size: 24px;
            margin-bottom: 3rem;
        }
    }

    .speaker-title-name + .speaker-position {
        margin-top: -1.5rem;

        @include breakpoint(medium) {
            margin-top: -2.75rem;
        }
    }
}



/**
 * Styles for the detail page of a partner
 */

.single-partner-details {
    margin: 2rem 0;

    @include breakpoint(medium) {
        margin: 3rem 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    & > div {
        padding: 0 1rem;
    }

    p, ul, ol, li {
        line-height: 1.4;
        font-size: 1rem;
    }


    // Area for the company logo
    & > div:nth-child(1) {
        figure {
            width: 200px;
            margin: 2rem 0;

            @include breakpoint(medium) {
                margin: 0 auto;
            }
        }

        figure img {
            width: 100%;
        }
    }


    // Area for the address
    & > div:nth-child(2) {
        margin: 2rem 0;

        @include breakpoint(medium) {
            margin: 0;
        }
    }


    // Area for the contact options
    & > div:nth-child(3) {
        ul {
            width: 100%;
            list-style-type: none;
            padding: 0;
            display: table;

            li {
                padding: 0;
                display: table-row;
            }

            li > span {
                display: table-cell;
                -webkit-hyphens: none;
                    -ms-hyphens: none;
                        hyphens: none;

                &:first-of-type::after {
                    content: ':';
                    margin-right: 1rem;
                }
            }
        }
    }
}



/**
 * Box style
 */

.box {
    background: var(--wp--preset--color--white);
    box-shadow: 0 0 18px -5px rgba(0,0,0,.2);
    padding: 30px 20px;
    margin: 2rem auto;

    @include breakpoint(medium) {
        padding: 40px;
    }

    h2 {
        font-weight: 200;
        font-size: 36px;
        text-align: center;

        @include breakpoint(medium) {
            margin-bottom: 3rem;
        }
    }
}
