/**
 * Shortcode [icon-wall]
 *
 * @author  Marco Di Bella
 * @package cm-theme
 *
 * @see  https://github.com/mdibella-dev/cm-theme-core
 * @todo Outsource this code to the plugin repository on GitHub
 */



/**
 * Icon Wall
 */

.icon-wall {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto !important;
    padding: 0 !important;

    li {
        font-size: 0;
        line-height: 0;
        text-align: center;
        margin: 0 !important;
        padding: 1rem 2rem;
        width: calc(50%);

        @include breakpoint(medium) {
            width: calc(25%);
        }

        @include breakpoint(large) {
            width: calc(20%);
        }
    }

    img {
        width: 100%;
        height: auto;
    }

    a {
        border-bottom: none;
        padding: 0;
        display: inline-block;

        &:hover,
        &:focus {
            background: transparent;
            border-bottom: none;
        }
    }
}


.icon-wall li.is-squared img {
    max-width: 85px;
}
