/**
 * Shortcode [teaser-list]
 *
 * @author  Marco Di Bella
 * @package cm-theme
 **/




/**
 * Teaser List
 */

.teaser-list {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    li {
        padding: 0;
    }
}



/**
 * Single Teaser
 */

.teaser-list-element,
.teaser-list-element:hover,
.teaser-list-element:focus {
    all: unset;
    line-height: 0;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 1.5rem 0;


    @include breakpoint(medium) {
        flex-wrap: nowrap;
        padding: 2rem 0;
    }
}


.teaser-list-element .teaser-image {
    // by default the components are displayed one below the other
    display: block;
    overflow: hidden;


    // as of small: Display component side by side
    @include breakpoint(small) {

        display: inline-block;
        flex-basis: 25%;
    }
    

    @include breakpoint(wide) {
        flex-basis: 30%;
    }


    img {
        width: 100%;
        height: auto;
    }
}


.teaser-list-element .teaser-content {
    // by default the components are displayed one below the other
    display: block;
    padding-top: 2*$unit;


    // as of small: Display component side by side
    @include breakpoint(small) {
        display: inline-block;
        flex-basis: 75%;
        padding-top: 0;
        padding-left: 2*$unit;
    }


    @include breakpoint(wide) {
        flex-basis: 70%;
        padding-left: 4*$unit;
    }


    h2 {
        @include h-tag-basic-settings();
        font-size: 1.213rem;
        margin-bottom: .35rem;
    }


    p {
        @include p-tag-basic-settings();
        font-size: .925rem;

        @include breakpoint(medium) {
            line-height: 1.5;
            font-size: 1rem
        }

        margin-bottom: .35rem;
    }


    *:last-child  {
        margin-bottom: 0;
    }
}


.teaser-list-element .teaser-image *,
.teaser-list-element .teaser-content * {
    cursor: pointer;
}



/**
 * Teaser Navigation
 *
 * The list has its own navigation, one above and one below the list.
 */

.teaser-list.teaser-list-has-pagination nav {
    text-align: center;
    display: flex;
    width: auto;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;


    // Distance of the top navigation to the list
    &:first-of-type {
        margin-bottom: 1.5rem;

        @include breakpoint(medium) {
            margin-bottom: 2rem;
        }
    }


    // Distance of the bottom navigation to the list
    &:last-of-type {
        margin-top: 1.5rem;

        @include breakpoint(medium) {
            margin-top: 2rem;
        }
    }


    .pageinfo {
        padding: 0 2*$unit;
        display: flex;
        flex-grow: 2;
        justify-content: center;
        align-items: center;


        span {
            @include p-tag-basic-settings();
            @include breakpoint(medium) {
                line-height: 1.5;
                font-size: 1.15rem;
            }
            margin: 0;
        }
    }


    .wp-block-button {
        margin-bottom: 0;
    }
}
