/**
 * Shortcode [faq]
 *
 * @author  Marco Di Bella
 * @package cm-theme
 *
 * @see  https://github.com/mdibella-dev/cm-theme-addon-faq
 * @todo Outsource this code to the plugin repository on GitHub
 */



/**
 * Achordion style list of frequently asked questions
 *
 * @see: https://tympanus.net/Blueprints/NestedAccordion/
 */

.faq-accordion {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    li {
        padding: 0;
        width: 100%;
    }
}



/**
 * Single FAQ Element
 */

.faq-element {
    width: 100%;

    &:last-of-type .faq-question:not(.on) {
        border-bottom: none;
    }
}


// The question
.faq-question {
    border-bottom: 1px solid #ddd;
    padding: 1.25em 0;
    cursor: pointer;
    display: flex;

    & > span {
        display: inline-block;
        font-size: 1.25rem;
        font-weight: 300;
        line-height: 1.3;
    }

    .faq-arrow {
        display: inline-block;
        margin-right: $unit;
        width: 2*$unit;

        @include breakpoint(medium) {
            width: 3*$unit;
        }

        & > i {
            transition: all .5s ease-out;
        }
    }
}


.faq-question.on {
    border-bottom-color: #f3f3f3;

    .faq-arrow > i {
        transform-origin: center;
        transform: rotate(90deg);
    }
}


// The answer
.faq-answer {
    display: none;
    background: #f3f3f3;
    margin-bottom: 1rem;
    padding: 1rem 3*$unit;
    border-top: unset;

    @include breakpoint(medium) {
        margin-bottom: 2rem;
        padding: 1rem 4*$unit;
    }

    @include breakpoint(large) {
        padding: 3rem 4*$unit;
    }


    ol,
    ul,
    p,
    table {
        @include p-tag-basic-settings;
        font-weight: 300;
        font-size: 1rem;

        @include breakpoint(medium) {
            font-size: 1.125rem;
            line-height: 1.4;
        }


        & + ol,
        & + ul,
        & + p,
        & + table {
            margin-top: 1rem;
        }
    }


    ul {
        list-style: disc inside;
    }


    table {
        width: 100%;

        @include breakpoint(medium) {
            width: calc(100% - 2*2*#{$unit});
            margin: 2*$unit;
        }

        @include breakpoint(large) {
            text-align: left;
            width: calc(100% - 2*4*#{$unit});
            margin: 4*$unit;
        }


        td {
            border-bottom: 2px solid var(--wp--preset--color--white);
            height: 3rem;
            padding: 5px;
        }


        tr:last-of-type > td {
            border-bottom: none;
        }
    }


    a {
        @include a-tag-basic-settings;
    }


    strong {
        font-weight: bold;
    }
}
