/**
 * Shortcode [teaser-list]
 *
 * @author  Marco Di Bella
 * @package cm-theme
 **/




/**
 * Teaser List
 */

.teaser-list {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        margin: 3rem 0;
    }

    li {
        padding: 0;
    }
}



/**
 * Single Teaser
 */

.teaser-list-element {
    all: unset;
    line-height: 0;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
    transition: all .3s ease-out;
    padding: 2rem 1rem;


    @include breakpoint(large) {
        flex-wrap: nowrap;
        gap: 3rem;
        padding: 3rem 2rem;
    }


    &:hover,
    &:focus {
        border-color: transparent;
        border-radius: var(--wp--custom--border-radius--big);
        background: var(--wp--preset--color--white);
        transform: scale(1.075, 1.075);
        box-shadow: 0 10px 15px -3px rgba(0,0,0,.4),0 1px 2px rgba(0,0,0,.12);
        color: #333;
    }
}


.teaser-list-element .teaser-image {
    // by default the components are displayed one below the other
    display: block;
    overflow: hidden;
    box-shadow: 0 5px 5px rgba(0,0,0,.06),0 1px 2px rgba(0,0,0,.12);


    // as of small: Display component side by side
    @include breakpoint(large) {
        display: inline-block;
        flex-basis: 25%;
    }


    img {
        width: 100%;
        height: auto;
        border-radius: var(--wp--custom--border-radius--small);
        aspect-ratio: 16/9;
    }
}


.teaser-list-element .teaser-content {
    // by default the components are displayed one below the other
    display: block;
    flex-basis: 100%;


    // as of small: Display component side by side
    @include breakpoint(large) {
        display: inline-block;
        flex-basis: 75%;
    }


    h2 {
        @include h-tag-basic-settings();
        font-size: 1.213rem;
        margin-bottom: .35rem;
    }


    p {
        @include p-tag-basic-settings();
        font-size: .925rem;

        @include breakpoint(large) {
            line-height: 1.5;
            font-size: 1rem
        }

        margin-bottom: .35rem;
    }


    *:last-child  {
        margin-bottom: 0;
    }
}


.teaser-list-element .teaser-image *,
.teaser-list-element .teaser-content * {
    cursor: pointer;
}



/**
 * Teaser Navigation
 *
 * The list has its own navigation, one above and one below the list.
 */

.teaser-list.teaser-list-has-pagination nav {
    text-align: center;
    display: flex;
    width: auto;
    max-width: 600px;
    margin: 0 auto;


    .pageinfo {
        padding: 0 2*$unit;
        display: flex;
        flex-grow: 2;
        justify-content: center;
        align-items: center;


        span {
            @include p-tag-basic-settings();
            @include breakpoint(large) {
                line-height: 1.5;
                font-size: 1.15rem;
            }
            margin: 0;
        }
    }


    .wp-block-button {
        margin-bottom: 0;
    }
}
