/**
 * Backend-Styles für dieses Thema
 *
* @author  Marco Di Bella
* @package mdb-theme
*/



/**
 * Globale Einstellungen
 */


.widefat {

    td,
    th,
    th.sortable,
    th.sorted  {
        padding: 1rem;
    }


    th.sortable a,
    th.sorted a {
        padding: 0;
    }

    th.sorted a span:not(.sorting-indicator) {
        font-weight: bold;
    }
}



/**
 * Übersicht über die Referenten
 * wp-admin/edit.php?post_type=speaker
 */

.post-type-speaker .wp-list-table {

    .column-image {
        width: 10%;

        a {
            display: inline-block;
        }

        img {
            width: 60px;
            height: 60px;
            line-height: 0;
            font-size: 0;
        }

    }

}


/**
 * Übersicht über die Programmpunkte
 * wp-admin/edit.php?post_type=session
 */

.post-type-session .wp-list-table {

    .column-speaker {

        a {
            display: inline-block;
            margin: 8px;
        }

        a img {
            width: 40px;
            height: 40px;
            line-height: 0;
            font-size: 0;
        }

    }

}


/**
 * Übersicht über die Kooperationspartner
 * wp-admin/edit.php?post_type=partner
 */

.post-type-partner .wp-list-table {

    .column-image {
        width: 10%;

        a {
            display: inline-block;
        }

        img {
            width: 80px;
            height: auto;
            line-height: 0;
            font-size: 0;
        }

    }

}


/*
 * Diverse Übersichten - gemeinsame Einstellungen
 */

.taxonomy-location .wp-list-table,
.taxonomy-event .wp-list-table,
.taxonomy-exhibition_package .wp-list-table,
.taxonomy-partnership .wp-list-table {

    .column-id {
        width: 5%;
    }

    .column-posts,
    .column-count {
        width: 15%;
        text-align: left;
    }

}



/**
 * Übersicht über die Veranstaltungen
 * /wp-admin/edit-tags.php?taxonomy=event&post_type=session
 */

.taxonomy-event .wp-list-table {

    .column-status {
        width: 5%;
        text-align: center;

        .status-icon {
            display: inline-block;
            width: 12px;
            height: 12px;
            border-radius: 50%;

            &.status-icon-active {
                background-color: #7ad03a;
            }

            &.status-icon-inactive {
                background-color: #dc3232;
            }
        }
    }

}


/**
 * Übersicht über die Örtlichkeiten
 * /wp-admin/edit-tags.php?taxonomy=event&post_type=session
 */

.taxonomy-location .wp-list-table {

    .column-image {
        width: 150px;

        img {
            width: 150px;
            height: auto;
        }
    }
}


/**
 * CM-Adminmenü
 */

#adminmenu #toplevel_page_edit-post_type-session ul.wp-submenu li a[href$="edit.php?post_type=session"],
#adminmenu #toplevel_page_edit-post_type-session ul.wp-submenu li a[href$="edit-tags.php?taxonomy=partnership&post_type=session"] {
    border-bottom: 1px solid hsla(0,0%,100%,.2)
}
