/**
 * Ersetzt eine Reihe von Stileinstellungen des Gutenberg Block Editors und fügt neue hinzu.
 *
 * @author  Marco Di Bella <mdb@marcodibella.de>
 * @package mdb-congressomat
 **/



/**
 * No Margin Switch
 **/

.mb-0 {
    margin-bottom: 0 !important;
}

.mt-0 {
    margin-top: 0 !important;
}



/**
 * Padding
 **/

.has-small-padding,
.has-medium-padding,
.has-large-padding,
.has-huge-padding {
    padding: $unit;
}

@include respond-to(small) {
    .has-medium-padding,
    .has-large-padding {
        padding: 2*$unit;
    }

    .has-huge-padding {
        padding: 3*$unit;
    }
}

@include respond-to(large) {
    .has-large-padding {
        padding: 3*$unit;
    }

    .has-huge-padding {
        padding: 4*$unit;
    }
}

@include respond-to(huge) {
    .has-large-padding {
        padding: 5*$unit 3*$unit;
    }

    .has-huge-padding {
        padding: 6*$unit 4*$unit;
    }
}



/**
 * Textausrichtung
 * !important ergänzt
 **/

.has-text-align-left {
    text-align: left !important;
}

.has-text-align-center {
    text-align: center !important;
}

.has-text-align-right {
    text-align: right !important;
}



/**
 * Farben (Hintergrund)
 **/

.has-black-background-color {
    background-color: #000 !important;
}

.has-black-90-background-color {
    background-color: #191919 !important;
}

.has-black-80-background-color {
    background-color: #333 !important;
}

.has-black-70-background-color {
    background-color: #4c4c4c !important;
}

.has-black-60-background-color {
    background-color: #666 !important;
}

.has-black-50-background-color {
    background-color: #7f7f7f !important;
}

.has-black-40-background-color {
    background-color: #999 !important;
}

.has-black-30-background-color {
    background-color: #b2b2b2 !important;
}

.has-black-20-background-color {
    background-color: #ccc !important;
}

.has-black-10-background-color {
    background-color: #e5e5e5 !important;
}

.has-black-05-background-color {
    background-color: #f0f0f0 !important;
}

.has-white-background-color {
    background-color: #fff !important;
}



/**
 * Farben (Vordergrund)
 **/

.has-black-color {
    color: #fff !important;
}

.has-black-90-color {
    color: #191919 !important;
}

.has-black-80-color {
    color: #333 !important;
}

.has-black-70-color {
    color: #4c4c4c !important;
}

.has-black-60-color {
    color: #666 !important;
}

.has-black-50-color {
    color: #7f7f7f !important;
}

.has-black-40-color {
    color: #999 !important;
}

.has-black-30-color {
    color: #b2b2b2 !important;
}

.has-black-20-color {
    color: #ccc !important;
}

.has-black-10-color {
    color: #e5e5e5 !important;
}

.has-black-05-color {
    color: #f0f0f0 !important;
}

.has-white-color {
    color: #fff !important;
}




/**
 * Sonstige Stile
 **/

.section-title,
.section-subtitle {
    font-weight: 300;
    margin-bottom: 2rem;
}


.section-title {
    font-size: 26px;

    @include respond-to(medium) {
        font-size: 34px;
    }

    & + .section-subtitle {
        margin-top: -1.3rem;
    }
}


.section-subtitle {
    font-size: 18px;

    @include respond-to(medium) {
        font-size: 24px;
    }
}


.neon-glow {
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
}


.lead {
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
    font-weight: 300 !important;
    font-size: 1.325em !important;
    line-height: 1.5 !important;

    @include respond-to(medium) {
        line-height: 1.5 !important;
        font-size: 1.5rem !important;
    }
}


.footnote {
    font-size: 0.875rem !important;
    font-weight: 300;

    sup {
        padding-right: 0.5*$unit;
    }
}


.download a::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Pro";
    font-weight: 500;
    content: "\f358";
    padding-right: $unit;
}
