/**
 * Setzt eine Reihe von Blockattribute.
 *
 * @author  Marco Di Bella <mdb@marcodibella.de>
 * @package mdb-congressomat
 * @version 1.0
 **/



/**
 * Padding
 *
 * Definiert die Angaben für den Innenabstand um
 **/

.has-small-padding,
.has-medium-padding,
.has-large-padding,
.has-huge-padding {
    padding: $unit;
}

@include respond-to(small) {
    .has-medium-padding,
    .has-large-padding {
        padding: 2*$unit;
    }

    .has-huge-padding {
        padding: 3*$unit;
    }
}

@include respond-to(large) {
    .has-large-padding {
        padding: 3*$unit;
    }

    .has-huge-padding {
        padding: 4*$unit;
    }
}

@include respond-to(huge) {
    .has-large-padding {
        padding: 5*$unit 3*$unit;
    }

    .has-huge-padding {
        padding: 6*$unit 4*$unit;
    }
}



/**
 * No Margin Switch
 *
 * Fügt '!important' hinzu
 **/

.mb-0 {
    margin-bottom: 0 !important;
}

.mt-0 {
    margin-top: 0 !important;
}



/**
 * Textausrichtung
 *
 * Fügt '!important' hinzu
 **/

.has-text-align-left {
    text-align: left !important;
}

.has-text-align-center {
    text-align: center !important;
}

.has-text-align-right {
    text-align: right !important;
}
