/**
 * Gutenberg Media Queries
 *
 * Mixin zur Realisierung von responsiven Websites.
 * Die Media Breakpoints entsprechen den Angaben des Gutenberg Viewport Moduls.
 *
 * @author  Marco Di Bella <mdb@marcodibella.de>
 * @package mdb-congressomat
 * @version 1.0
 **/



/**
 * Respond-To
 *
 * @source https://davidwalsh.name/write-media-queries-sass
 * @source https://medium.com/front-end-developers/the-solution-to-media-queries-in-sass-5493ebe16844
 * @source https://webdesign.tutsplus.com/tutorials/an-introduction-to-sass-maps-usage-and-examples--cms-22184
 * @param  int  $breakpoint  einer der folgenden Werte: mobile, small, medium, large, wide, huge
 **/

@mixin respond-to($breakpoint) {

    /**
     * Liste der möglichen Breakpoints
     *
     * @source https://developer.wordpress.org/block-editor/packages/packages-viewport/
     **/

    $breakpoints: (
        mobile: 480px,
        small:  600px,
        medium: 782px,
        large:  960px,
        wide:   1280px,
        huge:   1440px,
   ) !default;

    @if map-has-key($breakpoints, $breakpoint) {
        $value: map-get($breakpoints, $breakpoint);

        @media (min-width: #{$value}) {
            @content;
        }
    }
}
