/**
 * Mixins
 *
 * @author  Marco Di Bella <mdb@marcodibella.de>
 * @package mdb-congressomat
 **/



@mixin a-tag-basic-settings() {
    transition: all .3s ease-out;
    color: #555;
    border-bottom: 1px solid #ccc;
    padding: 2px;
    text-decoration: none;

    &:hover,
    &:focus {
        background: #ccc;
        border-bottom: 1px solid transparent;
        outline: none;
    }
}


@mixin p-tag-basic-settings() {
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
    line-height: 1.5;

    @include respond-to(medium) {
        line-height: 1.75;
    }
}


@mixin h-tag-basic-settings() {
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
    line-height: 1.3;

    @include respond-to(large) {
        -webkit-hyphens: none;
            -ms-hyphens: none;
                hyphens: none;
    }
}


@mixin space( $direction: beyond ) {
    @if $direction == above {
        margin-top: 2rem;
    } @else if $direction == beyond {
        // default
        margin-bottom: 2rem;
    }
}


@mixin set-block-position-and-size() {
    // Blöcke standardmäßg zentrieren und größtmögliche Breite geben
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    @include respond-to(large) {
        // ab 960px (large): Abstand zum linken und rechten Bildschirmrand weiter erhöhen durch Reduktion der (prozentualen) Arbeitsfläche
        width: calc(10 * calc(100vw/12) );
    }

    @include respond-to(wide) {
        // ab 1280px (wide): Abstand zum linken und rechten Bildschirmrand noch weiter erhöhen
        width: calc(8 * calc(100vw/12) );
    }
}
