/**
 * Custom Styles für wp-block-button
 *
 * @author  Marco Di Bella <mdb@marcodibella.de>
 * @package mdb-congressomat
 **/



.wp-block-button {
    .wp-block-button__link {
        text-decoration: none;
        text-transform: uppercase;
        display: inline-block;
        cursor: pointer;
        transition: all .5s ease-in-out !important;
        border-radius: 0;
        border-width: 2px;
        border-style: solid;

        border-color: #999;
        background: #fff;
        color: #999;

        padding: $unit 2*$unit;

        @include respond-to(medium) {
            padding: 2*$unit 3*$unit;
        }

        &:hover,
        &:focus {
            border-color: #000 !important;
            background: #000 !important;
            color: #fff !important;
        }

        &.disabled {
            pointer-events: none;
            cursor: default;
            color: #ddd !important;
            border-color: transparent !important;
        }
    }
}


.wp-block-button.is-style-ghost {
    .wp-block-button__link {
        background: transparent !important;

        &:hover,
        &:focus {
            border-color: #000 !important;
            background: transparent !important;
            color: #000 !important;
        }
    }
}
