/**
 * Custom Styles für wp-block-table
 *
 * @author  Marco Di Bella <mdb@marcodibella.de>
 * @package mdb-congressomat
 **/



.wp-block-table,
.wp-block-table.is-style-default,
.wp-block-table.is-style-default-with-header-row,
.wp-block-table.is-style-default-with-header-column {
    font-size: 1rem;

    @include respond-to(medium) {
        font-size: 1.125rem;
        line-height: 1.4;

    }

    tr {
        border-bottom: 1px solid #eee;

        &:last-of-type {
            border-bottom: none;
        }
    }

    td {
        vertical-align: top;
        display: inline-block;
        width: 100%;
        padding-top: 2*$unit;
        padding-bottom: 2*$unit;

        @include respond-to(medium) {
            display: table-cell;
            width: auto;
        }
    }
}


.wp-block-table.is-style-default-with-header-column {
    td:first-of-type {
        -webkit-hyphens: none;
            -ms-hyphens: none;
                hyphens: none;
        font-weight: 300;
    }
}

.wp-block-table.is-style-default-with-header-row {
    tr:first-of-type {
        -webkit-hyphens: none;
            -ms-hyphens: none;
                hyphens: none;
        font-weight: 300;
    }
}


/*

    td:first-of-type {
            @include respond-to(medium) {
            width: 30%;
        }
    }

    td:last-of-type {
        @include respond-to(medium) {
            width: 70%;
            padding-top: 2*$unit;
            padding-left: 2*$unit;
        }
    }
    */
