/**
 * Variablen
 *
* @author  Marco Di Bella <mdb@marcodibella.de>
* @package mdb-congressomat
**/



// Größenangaben
$space:				10px; //0.625rem;


// Farben
$color-gray:        #888;
$color-lightgray:   #eee;
$color-white:       #fff;


// Schriftarten
$font-sans:         'Roboto Condensed';
