@charset "UTF-8";
/*
 * Styles für den Backendbereich des Themas
 *
* @author   Marco Di Bella <mdb@marcodibella.de>
* @package  mdb-congressomat
* @version  1.0.0
*/
/*.postbox,
.stuffbox {
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.05);
            box-shadow: 0 1px 4px 0 rgba(0,0,0,0.05);

    .inside {
        background: $color-inside;
    }
}
*/
.postbox .inside {
  background: #f8f8f8;
}
