/**
 * Frontend-Styles für dieses Thema
 *
* @author  Marco Di Bella <mdb@marcodibella.de>
* @package mdb-congressomat
* @version 1.0.0
**/



// Imports
@import "vars";
@import "_media-queries";
@import "_simple-grid";




/* ------------------------------------ *
   Allgemeine Einstellungen
 * ------------------------------------ */

html,
body {
    height: 100%;
   	font-size: 16px;
	font-weight: 300;
    font-family: $font-sans;
    line-height: 1.5;
    -moz-osx-font-smoothing: grayscale;
     -webkit-font-smoothing: subpixel-antialiased;
             text-rendering: geometricPrecision;

    @include respond-to(576) {
        font-size: 18px;
    }
}

html {
    margin: 0 !important;
}

body {
    margin: 0;
    padding: 0;
    background: $color-lightgray;
    color: $color-gray;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

a {
    text-decoration: none;
}


@import "_elements";
@import "_modullayout";
@import "_programm";
