/**
 * Frontend-Styles für dieses Thema
 *
* @author  Marco Di Bella <mdb@marcodibella.de>
* @package mdb-congressomat
* @version 1.0.0
**/



// Variablen
$unit:				    10px; //0.625rem;
$menu-height:           60px;
$header-height:         $menu-height;
$button-size:           30px;
$color-highlight:       #d11520; // Rot
$color-notsohighlight:  #f4d5d5;
$font-sans:             'Roboto';



// Imports
@import "common/_media-queries";
@import "common/_common-styles";
@import "frontend/_mixins";
@import "frontend/_basics";
@import "frontend/_sandbox";
@import "frontend/_elements";
@import "frontend/_article";
@import "frontend/_teaser";
@import "frontend/_event";
@import "frontend/_partner";
@import "frontend/_speaker";
@import "frontend/_faq";
