/**
 * Gutenberg Assets
 *
 * @author  Marco Di Bella <mdb@marcodibella.de>
 * @package mdb-theme
 * @version 1.0.0
 **/


@import "common/_media-queries";
@import "common/_common-styles";


// Maximale Arbeitsbreite
.wp-block {
    max-width: none;
}

// Korrektur der Zentrierung
.block-editor-block-list__layout .block-editor-block-list__block[data-align="full"] {
    @media (min-width: 600px ) {
        margin-left: auto;
        margin-right: auto;
    }
}
