/*
 * Backend-Styles für dieses Thema
 *
* @author  Marco Di Bella <mdb@marcodibella.de>
* @package mdb-congressomat
* @version 1.0.0
*/



// Änderung der Abstände
.postbox .inside {
    margin: 0;

    & > p.hide-if-no-js {
        margin-top: 0;
        padding-top: 1em;
    }
}

#poststuff .inside {
    margin: 0;
}

#dashboard_right_now .main {
    padding-top: 1em;
}


// Mache es bunt
.postbox .inside {
    background: #f8f8f8;
}

.acf-accordion {
    background: transparent;

    .acf-accordion-title {
        background: #fff;
    }
}


// Repeater-Fields bei Module
.acf-table > tbody > tr:nth-child(odd) > td.acf-fields {
    background: #f7fbff;
}

.acf-table > tbody > tr:nth-child(even) > td.acf-fields {
    background: #f2f6fa;
}
