/**
 * Block Editor (aka Gutenberg) Assets
 *
 * @author  Marco Di Bella <mdb@marcodibella.de>
 * @package congressomat
 **/


/* Mixins */

@import "mixins/_mixins";
@import "mixins/_media-breakpoints";


/* UNSORTIERT */

@import "unsorted/_vars";


/* Block-Editor (Gutenberg) */

@import "block-editor/_attributes";
@import "block-editor/_color-palette";


/* Blocks */

@import "blocks/_wp-block-button";
@import "blocks/_wp-block-quote";
@import "blocks/_wp-block-table";




/**
 * Globale Einstellungen, themenunabhängig
 **/

// Maximale Arbeitsbreite
.wp-block {
    @include respond-to(large) {
        max-width: none;
    }
}


.edit-post-text-editor {
    @include respond-to(large) {
        margin-left: 12px;
        margin-right: 12px;
        max-width: calc( 100% - 24px );
    }
}


// Korrektur der Zentrierung
.block-editor-block-list__layout .block-editor-block-list__block[data-align="full"] {
    @include respond-to(small) {
        margin-left: auto;
        margin-right: auto;
    }
}



/**
 * Themenspezifische Einstellungen
 **/

// Schriftfamilie
.editor-post-title__block .editor-post-title__input,
.editor-styles-wrapper {
    font-family: $font-sans !important;
}
