/**
 * Grundlegende Variablen
 *
 * @author  Marco Di Bella 
 * @package cm
 */


$font-size:         16px;       // 1rem
$font-sans:         'Roboto';
$font-serif:        'Times';
$max-width:         64rem;
$menu-boxshadow:    0 1em 2em -1em rgba(0,0,0,0.3);
$ui-border-radius:  2px;

$unit:	            0.625rem;
