/**
 * Diverse generelle Anpassungen
 *
 * @author  Marco Di Bella <mdb@marcodibella.de>
 * @package mdb-congressomat
 **/



.adjust-workspace {
    // minimaler Abstand zum linken und rechten Bildschirmrand
    padding-left: $unit;
    padding-right: $unit;

    & > .alignfull {
        // Blöcke, die über die volle Bildschirmbreite ausgedehnt werden sollen
        // auch tatsächlich über den minimalen linken und rechten Bildschirmrand ziehen
        width: calc(100% + #{2*$unit});
        margin-left: -#{$unit} !important;
        margin-right: -#{$unit} !important;
    }

    & > *:not(.alignfull) {
        @include set-block-position-and-size();
    }
}


body:not(.page-template-landingpage) .article {
    // bei Seiten, die nicht mit dem Template "Landing-Page" versehen sind,
    // einen oberen und unteren Innenabstand ergänzen
    padding-top: 2*$unit;
    padding-bottom: 2*$unit;

    @include respond-to(medium) {
        // ab 782px (medium): den Innenabstand erhöhen
        padding-top: 3*$unit;
        padding-bottom: 3*$unit;
    }

    @include respond-to(large) {
        // ab 960px (large): den Innenabstand weiter erhöhen
        padding-top: 4*$unit;
        padding-bottom: 4*$unit;
    }
}


.has-no-padding-on-top {
    padding-top: 0 !important;
}


.has-no-padding-on-bottom {
    padding-bottom: 0 !important;
}
