/**
 * Artikel (Blogpost, Standardseite)
 *
 * @author  Marco Di Bella <mdb@marcodibella.de>
 * @package mdb-congressomat
 **/


.article {
    font-weight: normal;

    @include respond-to(medium) {
        font-size: 18px;
    }

    ol,
    ul {
        padding: 0 0 0 2*$unit;
        @include space(beyond);

        li {
            @include p-tag-basic-settings();
            color: inherit;
            padding-left: $unit;
        }
    }

    strong {
        font-weight: 500; // nicht zu fett
    }

    table p,
    p {
        @include p-tag-basic-settings();
        @include space(beyond);
        color: inherit;

        &.lead {
            font-weight: 300;
            font-size: 1.2em;
        }

        &:last-child {
            margin-bottom: 0 !important;
        }

        a {
            @include a-tag-basic-settings();
        }
    }

    table {
        @include space(beyond);
        border-collapse: collapse;
        width: 100%;
    }

    & > header {
        @include space(beyond);

        h1 {
            font-size: 2em;
        }
    }

    & > h2 {
        @include space(above);
        margin-bottom: .3em;
        font-size: 1.2em;
        color: inherit;
    }

    .wp-block-image {
        @include space(above);
        @include space(beyond);

        figure {
            line-height: 0;
        }

        figcaption {
            background: #f4f4f4;
            color: #777;
            margin: 0;
            padding: 1.5em;
            line-height: 1.2;
            font-size: 80%;
        }
    }

    .wp-block-embed-youtube {
        box-shadow: 0 1px 10px 0 rgba(0,0,0,0.15);
    }
}
