/**
 * Artikel (Blogpost, Standardseite)
 *
 * @author  Marco Di Bella <mdb@marcodibella.de>
 * @package mdb-congressomat
 **/



.article {
    @include respond-to(medium) {
        font-size: 18px;
    }

    * {
        color: inherit;
    }

    ol,
    ul {
        padding: 0 0 0 2*$unit;
        @include space(beyond);

        li {
            @include p-tag-basic-settings();
            padding-left: $unit;
        }
    }

    table p,
    p {
        @include p-tag-basic-settings();
        @include space(beyond);

        &:last-child {
            margin-bottom: 0 !important;
        }

        a {
            @include a-tag-basic-settings();
        }
    }

    table {
        @include space(beyond);
        border-collapse: collapse;
        width: 100%;
    }

    & > header {
        @include space(beyond);
    }

    & > h2 {
        @include space(above);
        margin-bottom: .3em;
        font-size: 1.2em;
    }

    img {
        &.size-full {
            width: 100%;
            height: auto;
        }

        &.aligncenter {
            margin-left: auto;
            margin-right: auto;
        }
    }
}
