/**
 * Grundlegende Formatierungen und Einstellungen
 *
 * @author  Marco Di Bella <mdb@marcodibella.de>
 * @package mdb-congressomat
 **/



html,
body {
    height: 100%;
   	font-size: 16px;        // 1rem
	font-weight: normal;
    font-family: $font-name;
    -moz-osx-font-smoothing: grayscale;
     -webkit-font-smoothing: antialiased;
             text-rendering: geometricPrecision;
}


html {
    margin: 0 !important;
}


body {
    margin: 0;
    padding: 0;
    background: #fff;
    color: #555;
}


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a {
    text-decoration: none;

    &:focus {
        outline: none;
    }
}


img {
    &.size-full {
        width: 100%;
        height: auto;
    }

    &.aligncenter {
        margin-left: auto;
        margin-right: auto;
    }
}


button {
    &:focus {
        outline: none !important;
    }
}







/**
 * Ausrichtung
 **/

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}
