/**
 * Seitenelemente
 *
 * @author  Marco Di Bella <mdb@marcodibella.de>
 * @package mdb-congressomat
 **/



/**
 * Kopfzeile
 **/

#header {
    z-index: 400;
    display: block;
    width: 100%;
    box-sizing: content-box;
}


/**
 * Wrapper für die Kopfzeilenelemente #logo, #toggle, #primary
 **/

#header-wrapper {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-align-items: center;
            align-items: center;

    & > div {
        width: 50%;
        margin: 0;
    }

    // Bereich mit dem Menüumschalter (#toggle)
    & > div:nth-child(2) {
        text-align: right !important;
    }

    // Bereich des Hauptmenüs (#primary)
    & > div:nth-child(3) {
        width: 100%;
    }

    @include respond-to(large) {
        -webkit-flex-wrap: nowrap;
                flex-wrap: nowrap;

        // Bereich mit dem Logo (#logo)
        & > div:nth-child(1) {
            width: 25%;
            margin: 0 auto;
        }

        // Bereich mit dem Menüumschalter (#toggle)
        & > div:nth-child(2) {
            display: none;
            width: 0;
        }

        // Bereich des Hauptmenüs (#primary)
        & > div:nth-child(3) {
            width: 75%;
        }
    }
}



/**
 * Animierter Toggle-Button (Hamburger-Icon)
 **/

@mixin line {
    display: inline-block;
    width: 30px;
    height: 3px;
    background: #555;
    transition: 0.3s;
}

#toggle {
    margin: $unit;

    .lines {
        @include line;
        position: relative;

        &:before,
        &:after {
            @include line;
            position: absolute;
            left:0;
            content: '';
            -webkit-transform-origin: center;
                    transform-origin: center;
        }

        &:before {
            top: 10px;
        }

        &:after {
            top: -10px;
        }
    }

    &.on .lines {
        background: transparent;

        &:before,
        &:after{
            -webkit-transform-origin: center;
                    transform-origin: center;
            top: 0;
            width: 30px;
        }

        &:before{
            -webkit-transform: rotate(45deg);
                    transform: rotate(45deg);
        }

        &:after{
            -webkit-transform: rotate(-45deg);
                    transform: rotate(-45deg);
        }
    }
}



/**
 * Logo in der Kopfzeile
 **/

#logo {
    display: -webkit-flex;
    display: flex;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: 0 !important;

    @include respond-to(large) {
        padding: 0;
        margin: 0 auto;
    }

    svg {
        width: auto;
    }
}



/**
 * Hauptinhaltsbereich (#main)
 **/

#main {
    width: 100%;
}



/**
 * Hauptnavigation (#primary) mit MegaMenu-Integration
 *
 * @source	https://tympanus.net/codrops/2013/03/05/horizontal-drop-down-menu/
 * @see		frontend.js, class-megamenu-walker.php
 **/

#primary {
    width: 100%;
    display: none;

    // Unterstützung für #toggle
    &.on {
        display: block;
    }

    @include respond-to(large) {
        display: block;
    }
}


/**
 * Fußzeile
 **/

#footer{
    z-index: 200;
    display: block;
    width: 100%;
    box-sizing: content-box;
    background: #999;
    color: #555;
}


#footer-widgets {
    .widget-area-wrapper {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
                flex-wrap: wrap;
        padding-top: $unit;
        padding-bottom: $unit;

        @include respond-to(large) {
            -webkit-flex-wrap: nowrap;
                    flex-wrap: nowrap;
            padding-top: 2*$unit;
            padding-bottom: 2*$unit;
        }
    }

    .widget-area {
        width: 100%;

        @include respond-to(large) {
            width: 33%;

            &:not(:last-child) {
                margin-right: $unit;
            }

            &:not(:first-child) {
                margin-left: $unit;
            }
        }

        @include respond-to(wide) {
            &:not(:last-child) {
                margin-right: 2*$unit;
            }

            &:not(:first-child) {
                margin-left: 2*$unit;
            }
        }
    }

    .widget_nav_menu ul {
        list-style-type: none;

        & > li {
            border-bottom: 1px solid #bbb;
            line-height: 2.5em;
            color: #ddd;
            padding: 5px 0;
            font-size: 90%;
            font-weight: 400;

            a {
                @include a-tag-basic-settings();
                border-bottom: none !important;
                color: inherit;

                &:hover,
                &:focus {
                    background: #ddd;
                    color: #999;
                }
            }
        }
    }
}
