/**
 * Megamenu
 *
 * Eine Implementation eines Megamenus mit Überschrift- und Downloadelementen
 *
 * @source	https://tympanus.net/codrops/2013/03/05/horizontal-drop-down-menu/
 * @see		frontend.js, class-megamenu-walker.php
 * @author  Marco Di Bella <mdb@marcodibella.de>
 * @package mdb-congressomat
 **/


.megamenu {
    width: 100%;
    display: none;

    // Unterstützung für #toggle
    &.on {
        display: block;
    }

    @include respond-to(large) {
        display: block;
    }

    // Generell
    ul {
    	margin: 0;
    	padding: 0;
    	list-style-type: none;
    }

    // Toplevel
    & > ul {
	    width: 100%;

	    & > li {
		    display: block;
		    border-bottom: 1px solid #eee;

		    @include respond-to(large) {
			    display: inline-block;
			    border-bottom: 0;
		    }
        }

        & > li > a {
		    display: block;
		    padding: 1em;
    		width: 100%;
    		font-weight: 400;
            font-size: 1rem;
    		color: #555;
            text-transform: uppercase;

        	@include respond-to(large) {
        		display: -webkit-flex;
        		display: flex;
        		width: unset;
        		padding: 3*$unit 2*$unit;
        	}
        }

        & > li > a:hover,
    	& > li.open > a,
    	& > li.open > a:hover {
    		color: #555;
    		background: #ddd;
    	}
    }

    // Ausklappbares Dropdown im MegaMenu-Stil
    .submenu .submenu-wrapper {
		display: none;
		background: #eee;
        color: #555;
		width: 100%;
		left: 0;
		position: relative;
        padding: 1em 0;

		@include respond-to(large) {
			position: absolute;
            padding: 2em 0;
        }

        & > ul {
    	    width: 100%;
    	    margin: 0 auto;
            padding: 0;

    	    @include respond-to(medium) {
    		    width: 90%;
    		    max-width: 80em;
                display: -webkit-flex;
                display: flex;
                -webkit-flex-direction: row;
    		            flex-direction: row;
                -webkit-justify-content: center;
                        justify-content: center;
                -webkit-flex-wrap: nowrap;
    		            flex-wrap: nowrap;
    	    }

    	    &:after {
    	   	    clear: both;
    	    }
        }

        & > ul > li {
    		width: 100%;
        	display: inline-block;
        	padding: 0 1em 0;
/*
    		@include respond-to(large) {
            }
*/
            // Überschrift für Menüspalte
    	    h4 {
    		    color: inherit;
                padding-top: 1em;
                padding-bottom: .6em;
    		    margin: 0;
    		    font-size: 1em;
    		    font-weight: 400;
                text-transform: uppercase;

    		    @include respond-to(medium) {
                    font-size: 1.25em;
                    padding-top: 0;
                    padding-bottom: 1.2em;
    		    }
/*
                &::not(:first-child) {
                    padding-top: 1em;

                    @include respond-to(medium) {
                        padding-top: 2em;
        		    }
                }
*/
    	    }

            &:not(:first-of-type) h4 {
                border-top: 1px solid #ddd;
                margin-top: 1em;

                @include respond-to(medium) {
                    border-top: none;
                    margin-top: 0;
                }
            }

    	    // Menüpunkt
    	    a {
    		    line-height: 2em;
    		    color: inherit;
    	    }

            // Menüpunkt als Downloadlink
    	    .download > a::before {
    		    display: inline-block;
    		    font-style: normal;
    		    font-variant: normal;
    		    text-rendering: auto;
    		    -webkit-font-smoothing: antialiased;
    		    font-family: "Font Awesome 5 Pro";
    		    font-weight: 500;
    		    content: "\f358";
    		    padding-right: $unit;
    	    }
        }
    }

    .submenu.open .submenu-wrapper {
        display: block;
        z-index: 500;

        @include respond-to(large) {
            box-shadow: 0 0.8em 1.35em -0.5em rgba(0,0,0,0.3);
        }
    }
}
