/**
 * Tabelle mit dem Programm eines Events (Hauptprogramm, Workshop etc.)
 *
 * @author  Marco Di Bella <mdb@marcodibella.de>
 * @package mdb-congressomat
 **/



.event-table {
    width: 100%;

    div {
        text-align: left;
        width: auto;
        vertical-align: top;
        font-size: 1rem;
        line-height: 1.3;

        @include respond-to(large) {
            font-size: 1.25rem;
        }
    }

    div.row {
        background-color: #ddd;

        &:not(:first-of-type) {
            margin-top: 3px;
        }
    }

    div.cell {
        padding: $unit;

        @include respond-to(medium) {
            padding: 2*$unit;
        }

        @include respond-to(large) {
            padding: 3*$unit 2*$unit;
        }
    }

    *[data-type='session-speaker'] {
        text-align: right;
        line-height: 1;
        white-space: nowrap;

        a {
            width: 60px;
            height: 60px;
            display: inline-block;
            padding: 2px;

            & > img {
                width: 100%;
                height: 100%;
                background: #eee;
                box-shadow: 0 0 0.25rem 0 rgba(0, 0, 0, 0.1);
                transition: all 0.5s 0s ease-in-out;
            }

            &:hover > img,
            &:focus > img {
                background: #aaa;
            }
        }
    }

    *[data-type='session-date'],
    *[data-type='session-title'] {
        font-weight: bold;
    }
}



/**
 * Set 1
 * session-date,session-time-range|session-title,session-subtitle|session-location
 **/

.event-table.has-set-1 {

    @include respond-to(medium) {
        div.row {
            display: -webkit-flex;
            display: flex;
        }

        div.cell:nth-of-type(1) {
            width: 20%;
        }

        div.cell:nth-of-type(2) {
            width: 55%;
        }

        div.cell:nth-of-type(3) {
            width: 25%;
        }

        *[data-type='session-location'] {
            text-align: center;
        }
    }
}



/**
 * Set 2
 * session-time-begin|session-title,session-subtitle,session-location|session-speaker
 *
 * Set 3
 * session-time-begin|session-title,session-subtitle|session-speaker
 **/

.event-table.has-set-2,
.event-table.has-set-3 {

    *[data-type='session-speaker'] {
        text-align: left;
    }

    @include respond-to(medium) {
        div.row {
            display: -webkit-flex;
            display: flex;
        }

        div.cell:nth-of-type(1) {
            width: 15%;
        }

        div.cell:nth-of-type(2) {
            width: 55%;
        }

        div.cell:nth-of-type(3) {
            width: 30%;
        }

        *[data-type='session-speaker'] {
            text-align: right;
        }
    }
}
