/**
 * Shortcode [teaser-list]
 *
 * @author  Marco Di Bella <mdb@marcodibella.de>
 * @package mdb-congressomat
 **/



.teaser-list {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            padding: 0;
        }

        // Abstand zwischen zwei Listenelementen
        li + li {    
            margin-top: 2rem;
        }
    }

    // einzelner Teaser
    .teaser-list-element {
        line-height: 0;
        text-align: left;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-align-items: flex-start;
                align-items: flex-start;

        @include respond-to(medium) {
            -webkit-flex-wrap: nowrap;
                    flex-wrap: nowrap;
        }

        // Bildkomponente des Teasers
        .teaser-image {
            // standardmäßig werden die Komponenten untereinander angezeigt
            display: block;
            overflow: hidden;

            @include respond-to(small) {
                // ab 600px (small): Komponente nebeneinander anzeigen
                display: inline-block;
                -webkit-flex-basis: 25%;
                        flex-basis: 25%;
            }

            @include respond-to(wide) {
                -webkit-flex-basis: 30%;
                        flex-basis: 30%;
            }

            a {
                all: initial;
                display: block;

                img {
                    width: 100%;
                    height: auto;
                    cursor: pointer;
                }
            }
        }

        // Textkomponente des Teasers
        .teaser-content {
            // standardmäßig werden die Komponenten untereinander angezeigt
            display: block;
            padding-top: 2*$unit;
            font-size: 1em;

            @include respond-to(small) {
                // ab 600px (small): Komponente nebeneinander anzeigen
                display: inline-block;
                -webkit-flex-basis: 75%;
                        flex-basis: 75%;
                padding-top: 0;
                padding-left: 2*$unit;
            }

            @include respond-to(wide) {
                -webkit-flex-basis: 70%;
                        flex-basis: 70%;
                padding-left: 4*$unit;
            }

            h2 {
                font-size: 1.3em;
                margin-top: 0;
                margin-bottom: 1em;
            }

            p {
                @include p-tag-basic-settings();
                @include respond-to(medium) {
                    line-height: 1.5;
                }
                margin-bottom: 1.5em;
            }

            a {
                @include a-tag-basic-settings();
            }
        }
    }

    &.teaser-list-has-pagination {
        // die Liste verfügt explizit über eine eigene Navigation,
        // jeweils eine überhalb und eine unterhalb der Liste
        nav {
            text-align: center;
            display: -webkit-flex;
            display: flex;
            width: auto;
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;

            &:first-of-type {
                // Abstand der oberen Navigation zur Liste
                margin-bottom: 2*$unit;

                @include respond-to(large) {
                    margin-bottom: 6*$unit;
                }
            }

            &:last-of-type {
                // Abstand der unteren Navigation zur Liste
                margin-top: 2*$unit;

                @include respond-to(large) {
                    margin-top: 6*$unit;
                }
            }

            .pageinfo {
                display: block;
                padding: 0 2*$unit;
                -webkit-flex-grow: 2;
                        flex-grow: 2;
            }

            .wp-block-button {
                margin-bottom: 0;
            }
        }
    }
}
