/**
 * Shortcode [speaker-grid]
 *
 * @author  Marco Di Bella <mdb@marcodibella.de>
 * @package mdb-congressomat
 **/



.speaker-grid {
    ul {
        width: 100%;
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-align-items: flex-start;
                align-items: flex-start;
        -webkit-align-content: flex-start;
                align-content: flex-start;

        // responsive Größen- und Abstandsanpassung der Gridelemente
        li {
            padding: 0;
            height: auto;
            // standardmäßig zwei Gridelemente nebeneinander
            margin: #{2*$unit} $unit 0 $unit;
            width: calc(50% - #{2*$unit});


            @include respond-to(medium) {
                margin: #{4*$unit} #{2*$unit} 0 #{2*$unit};
                width: calc(50% - #{4*$unit});
            }

            @include respond-to(large) {
                // vier Gridelemente nebeneinander
                margin: #{2*$unit} $unit 0 $unit;
                width: calc(25% - #{2*$unit});
            }

            @include respond-to(wide) {
                margin: #{4*$unit} #{2*$unit} 0 #{2*$unit};
                width: calc(25% - #{4*$unit});
            }
        }
    }

    // tatsächliche Darstellung des Speakers
    figure {
        // klickbare Bildkomponente
        & > a {
            display: block;
            width: 100%;
            height: 100%;
            font-size: 0;

            img {
                width: 100%;
                height: 100%;
                background: #eee;
                transition: all 0.5s 0s ease-in-out;
                box-shadow: 0 0 0.25rem 0 rgba(0,0,0,0.1);
            }

            &:hover img,
            &:focus img {
                background: #aaa;
            }
        }

        // Textkomponente
        figcaption {
            margin-top: $unit;
            text-align: left;
            font-size: 0.8rem;

            @include respond-to(medium) {
                font-size: 1rem;
            }

            .speaker-title-name {
                @include a-tag-basic-settings();
                line-height: 1.9em;
                text-align: inherit;
                font-size: inherit;
                padding: 0 2px;
            }

            .speaker-position {
                font-weight: 500;
                font-size: inherit;
                text-align: inherit;
                line-height: 1.5 !important;
            }
        }
    }
}

/*
header + .speaker-grid {
    margin-top: -#{2*$unit};

    @include respond-to(medium) {
        margin-top: -#{4*$unit};
    }

    @include respond-to(wide) {
        margin-top: -#{4*$unit};
    }
}
*/
