/**
 * Tabelle für die Datenschutzerklärung
 *
 * @author  Marco Di Bella <mdb@marcodibella.de>
 * @package mdb-congressomat
 **/



.wp-block-table.is-style-default-with-header-column.two-columns-30-70 {
    td:first-of-type {
        @include respond-to(medium) {
            width: 30%;
        }
    }

    td:last-of-type {
        @include respond-to(medium) {
            width: 70%;
        }
    }
}
