/**
 * Block Editor (aka Gutenberg) Assets
 *
 * @author  Marco Di Bella
 * @package cm-theme
 */



/** Mixins */

@import "mixins/_mixins";
@import "mixins/_breakpoints";


/** Seitenelemente / generelle Einstellungen */

@import "site/_vars";
@import "site/_fonts";


/** Block-Editor (Gutenberg) */

@import "block-editor/_attributes";
@import "block-editor/_color-palette";


/** Blocks */

@import "blocks/_index";



/**
 * Globale Einstellungen, themenunabhängig
 */


/**
 * Blöcke auf der ersten Ebene maximal verbreitern,
 * aber einen Puffer von 5% lassen, um nicht an den Rand stoßen
 */

.is-root-container > .wp-block {
    @include respond-to(large) {
        max-width: 95% !important;
    }
}


/**
 * Verhindert, dass große Elemente (z.B. wp-block-cover) "aus den Rahmen fallen"
 * und nicht zentriert sind
 */

.editor-styles-wrapper .block-editor-block-list__layout.is-root-container > .wp-block[data-align="full"] {
    margin-left: auto !important;
    margin-right: auto !important;
}


.edit-post-text-editor {
    @include respond-to(large) {
        margin-left: 12px;
        margin-right: 12px;
        max-width: calc( 100% - 24px );
    }
}


.edit-post-text-editor__body {
    @media (min-width: 600px) {
        max-width: 580px;
    }
}



/**
 * Themenspezifische Einstellungen
 */

.editor-post-title__block .editor-post-title__input,
.editor-styles-wrapper {
    font-family: $font-sans !important;
}
