/**
 * Artikel (Blogpost, Standardseite)
 *
 * @author  Marco Di Bella <mdb@marcodibella.de>
 * @package congressomat
 **/



.paragraph-header {
    @include h-tag-basic-settings();
    font-size: 1.25rem; // 20px
    margin-top: 2rem; // !!!
    margin-bottom: 1rem;

    @include respond-to(medium) {
        font-size: 1.375rem; // 22px
    }

    @include respond-to(large) {
        margin-top: 4rem; // !!!
    }

}



/**
 * Sonstige Stile
 **/

.section-title,
.section-subtitle {
    font-weight: 300;
    margin-bottom: 2rem;
}


.section-title {
    font-size: 26px;

    @include respond-to(medium) {
        font-size: 34px;
    }

    & + .section-subtitle {
        margin-top: -1.3rem;
    }
}


.section-subtitle {
    font-size: 18px;

    @include respond-to(medium) {
        font-size: 24px;
    }
}


.neon-glow {
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
}


.lead {
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
    font-weight: 300 !important;
    font-size: 1.325em !important;
    line-height: 1.5 !important;
    margin-top: 2rem;
    margin-bottom: 2rem;

    @include respond-to(medium) {
        line-height: 1.5 !important;
        font-size: 1.5rem !important;
    }
}


.footnote {
    font-size: 0.875rem !important;
    font-weight: 300;

    sup {
        padding-right: 0.5*$unit;
    }
}


.article-wrapper,
.section-wrapper,
.footer-widgets-wrapper {
    width: 100%;

    & > div[class*="__inner-container"] {
        margin: 0 auto;
        padding: 2rem 1rem;
        width: 100%;

        // ab 960px (large)
        @include respond-to(large) {
            padding: 2rem 0;
            max-width: 64rem;
        }

        // ab 1280px (wide):
        @include respond-to(wide) {
            padding: 4rem 0;
        }
    }
}


/**
 * download-monitor
 **/

.download-link {
    @include p-tag-basic-settings();
    display: flex;
    align-items: baseline;
    padding: .5rem 0;

    i {
        color: #555;
    }

    div {
        flex-grow: 2;
        margin-left: 2rem;
    }

    p.description {
        font-size: 95%;

        @include respond-to(medium) {
            font-size: 85%;
        }
    }
}

.download-image {
    a {
        display: block;
        padding: 0;
        transition: all 0.3s 0s ease-in-out;
        box-shadow: 0 5px 40px -5px rgba(0,0,0,0.5);
        border: 5px solid #fff;
        line-height: 0;

        &:hover,
        &:focus {
            border: 5px solid #fff;
            transform: scale(1.5, 1.5) rotate(5deg);
            box-shadow: 15px 15px 20px -5px rgba(0,0,0,0.5);
        }
    }

    img {
        /*
        width:
        height: */
    }


}
