/**
 * Stile für die Profilseite eines Referenten.
 *
 * @author  Marco Di Bella <mdb@marcodibella.de>
 * @package congressomat
 **/



.speaker-profile {
    @include respond-to(medium) {
        display: -webkit-flex;
        display: flex;
    }

    // Bild
    figure {
        width: 100%;
        height: 100%;

        @include respond-to(medium) {
            width: 40%;
            max-width: 250px;
        }

        img {
            width: 100%;
            height: 100%;
            background: #aaa;
        }
    }

    // Beschreibung
    & > div {
        margin-top: 2*$unit;

        @include respond-to(medium) {
            width: calc( 60% - #{4*$unit} );
            margin-top: 0;
            margin-left: 4*$unit;
        }
    }

    h2 {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        font-weight: 300;
    }

    .speaker-position {
        font-size: 1.2rem;
        font-weight: bold;
    }

    .speaker-social-media {
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
                justify-content: center;

        @include respond-to(medium) {
            -webkit-justify-content: left;
                    justify-content: left;
        }

        ul {
            width: 100%;
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        li {
            float: left;
            padding: 0;
            margin-right: $unit;
            margin-bottom: $unit;

            @include respond-to(medium) {
                margin-right: 1.5*$unit;
                margin-bottom: 1.5*$unit;
            }
        }
    }
}
