/**
 * Block: core/cover
 * Theme support and custom styles
 *
 * @author  Marco Di Bella
 * @package cm-theme
 */



.wp-block-cover,
.wp-block-cover-image {
    min-height: 530px;


    .wp-block-cover-image-text,
    .wp-block-cover-text,
    h2,
    p {
        // Remove size restriction
        max-width: unset !important;

        // Correct internal spacing
        padding-left: $unit;
        padding-right: $unit;
    }
}


.wp-block-cover__inner-container {
    margin: 0;

    & > *:last-child {
        margin-bottom: unset !important;
    }
}



/**
 * .is-style-with-overlay
 */

.wp-block-cover.is-style-with-overlay > .wp-block-cover__inner-container {
    width: auto;
    padding: 2rem;
    background: rgba(128,128,128,.9);
    border-radius: var(--wp--custom--border-radius--big);
    box-shadow: 0 8px 10px -8px rgba(0,0,0,.5);
    max-width: 60%;
    min-width: 320px;
}
