/**
 * Block: core/image
 * Theme support and custom styles
 *
 * @author  Marco Di Bella
 * @package cm-theme
 */



.wp-block-image {
    margin: 0;
    line-height: 0;
}



/**
 * .is-style-with-caption
 */

.wp-block-image.is-style-with-caption {
    figcaption {
        @include figcaption-tag-basic-settings();
    }


    img {
        max-width: 100%;
        height: auto;
    }


    &:not(:first-child) {
        margin-top: 1rem;

        @include breakpoint(medium) {
            margin-top: 2rem;
        }

        @include breakpoint(large) {
            margin-top: 3rem;
        }
    }


    &:not(:last-child) {
        margin-bottom: 1rem;

        @include breakpoint(medium) {
            margin-bottom: 2rem;
        }

        @include breakpoint(large) {
            margin-bottom: 3rem;
        }
    }
}
