/**
 * Liste mit Ausstellern
 *
 * @author  Marco Di Bella <mdb@marcodibella.de>
 * @package congressomat
 **/



.exhibition-list {
    list-style: none;
    justify-content: center;
    margin: 0 auto !important;
    padding: 0 !important;
    width: 95%;

    @include respond-to(medium) {
        width: 100%;
    }
}

.exhibition-list-element {
    unset: initial;
    padding: 0;
    border: none;

    &:not(:first-of-type) {
        border-top: 1px solid #c0c0c0;
    }

    & > a {
        display: block;
        padding: 1rem 2rem;
        border-bottom: none;

        @include respond-to(medium) {
            padding: 3rem 2rem;
        }

        &:hover,
        &:focus {
            border-color: transparent;
            background: #fff;
            transform: scale(1.075, 1.075);
            box-shadow: 0 10px 15px -3px rgba(0,0,0,0.4),0 1px 2px rgba(0,0,0,0.12);
            color: #333;
        }

        @include respond-to(medium) {
            display: flex;
            align-items: flex-start;
        }
    }

    figure {
        width: 100px;
        margin: 0 auto;

        @include respond-to(medium) {
            margin-right: 2rem;
            flex-shrink: 0;
        }
    }

    h3 {
        margin-bottom: 1rem;
    }

    div {
        width: 100%;
        font-size: .9rem;

        @include respond-to(medium) {
            font-size: 1rem;
        }
    }
}

.exhibition-list-layout {
    @include respond-to(medium) {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }


    /* Bereich für die Adresse */

    div:nth-child(1) {
        margin-bottom: 1rem;

        @include respond-to(medium) {
            margin-bottom: 0;
        }
    }

    /* Bereich für die Standinformation */

    div:nth-child(2) div {
        display: table;

        & > div {
            display: table-row;

            &:first-child > div {
                font-weight: bold;
            }

            & > div {
                display: table-cell;
                width: 50%;
            }
        }
    }


    /* Bereich für die Schaltfläche */

    div:nth-child(3) {
        display:none;

        @include respond-to(medium) {
            display: block;
            flex-basis: 6rem;
            margin-top: -10px;
        }
    }
}
