/**
 * Shortcode [speaker-grid]
 *
 * @author  Marco Di Bella <mdb@marcodibella.de>
 * @package congressomat
 **/



.speaker-grid {
    ul {
        width: 100%;
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        align-content: space-between;
        justify-content: flex-start;

        // responsive Größen- und Abstandsanpassung der Gridelemente
        li {
            padding: 0;
            margin: 1rem;
            height: auto;
            width: calc(50% - 2rem);

            @include respond-to(medium) {
                width: calc(33% - 2rem);
            }

            @include respond-to(large) {
                width: calc(25% - 2rem);
            }
        }
    }


    // tatsächliche Darstellung des Speakers
    figure {
        transition: all 0.5s 0s ease-in-out;

        // Bildkomponente
        & > a {
            display: block;
            width: 100%;
            height: 100%;
            font-size: 0;
            border: none;
            padding: 0 !important;
            margin: 0 !important;
            border-bottom: none !important;

            &:hover,
            &:focus {
                padding: 0 !important;
                border-bottom: none !important;
            }
        }

        img {
            width: 100%;
            height: 100%;
            background: #eee;
            box-shadow: 0 5px 5px rgba(0,0,0,0.06), 0 1px 2px rgba(0,0,0,0.12);
            cursor: pointer;
        }

        &:hover,
        &:focus {
            background: #fff;
            transform: scale(1.075, 1.075);
            box-shadow: 0 5px 5px rgba(0,0,0,0.06), 0 1px 2px rgba(0,0,0,0.12);

            img {
                box-shadow: unset;
            }
        }

        figcaption {
            margin-top: $unit;
            padding: $unit;

            .speaker-title-name,
            .speaker-position {
                line-height: 1.25 !important;
                margin-bottom: 0 !important;
                text-align: left;
                font-size: 0.8rem;
                -webkit-hyphens: none;
                    -ms-hyphens: none;
                        hyphens: none;

                @include respond-to(medium) {
                    font-size: 1rem;
                }
            }

            .speaker-title-name a {
                @include a-tag-basic-settings();
                display: inline-block;
                padding: 2px 0;
                margin-bottom: 2px;
                border-bottom-color: #888;
            }

            .speaker-position {
                font-weight: 500;
            }
        }
    }
}
