/**
 * Custom Styles für wp-block-cover
 *
 * @author  Marco Di Bella <mdb@marcodibella.de>
 * @package congressomat
 */



.wp-block-cover,
.wp-block-cover-image {
    min-height: 530px;

    .wp-block-cover-image-text,
    .wp-block-cover-text,
    h2,
    p {
        // Größenbeschränkung aufheben
        max-width: unset !important;

        // Innenabstand korrigieren
        padding-left: $unit;
        padding-right: $unit;
    }

    .wp-block-cover__inner-container {
        margin: 0;

        & > *:last-child {
            margin-bottom: unset !important;
        }
    }
}



/* Stil: Mit Overlay */

.wp-block-cover.is-style-with-overlay > .wp-block-cover__inner-container {
    width: auto;
    padding: 2rem;
    background: rgba(128,128,128,.9);
    border-radius: 3px;
}
