/**
 * Custom Styles für wp-block-embed
 *
 * @author  Marco Di Bella <mdb@marcodibella.de>
 * @package congressomat
 **/



.wp-block-embed {
    margin: 0;

    figure {
        line-height: 0;
    }

    figcaption {
        @include figcaption-tag-basic-settings();
    }
}

.article-wrapper__inner-container > .wp-block-embed {
    margin-top: 1rem;
    margin-bottom: 1rem;

    @include respond-to(medium) {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    @include respond-to(large) {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
}
