/**
 * Custom Styles für wp-block-button
 *
 * @author  Marco Di Bella <mdb@marcodibella.de>
 * @package congressomat
 **/



.wp-block-button,
.wp-block-button.is-style-default-with-shadow {
    margin-bottom: 0;

    & > .wp-block-button__link {
        all: unset;
        font-size: 1rem;
        text-decoration: none;
        text-transform: uppercase;
        border-radius: 0;
        border-width: 2px;
        border-style: solid;
        border-color: #999;
        background: #fff;
        color: #999;
        display: inline-block;
        padding: $unit 2*$unit;
        cursor: pointer;
        transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
        position: relative;
        top: 0;
        left: 0;

        @include respond-to(medium) {
            padding: 2*$unit 3*$unit;
        }

        &:hover,
        &:focus {
            border-color: #999;
            background: #999;
            color: #fff;
        }

        &:active {
            top: 2px;
        }
    }
}


.wp-block-button.is-style-default-with-shadow  {
    & > .wp-block-button__link {
        box-shadow: 0 2px 15px -3px rgba(0,0,0,0.3);

        &:active {
            box-shadow: 0 -2px 15px -3px rgba(0,0,0,0.3);
        }
    }
}


/** Button mit Fontawesome **/

.wp-block-button.is-fa-button > .wp-block-button__link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50% !important;
    border-color: transparent;
    background-color: transparent;
    width: 40px;
    height: 40px;
    padding:0;

    @include respond-to(medium) {
        padding: 0;
    }
}


.wp-block-button.is-fa-button > .wp-block-button__link:hover,
.wp-block-button.is-fa-button > .wp-block-button__link:focus {
    border-color: transparent !important;
    background-color: rgba(0,0,0,0.1) !important;
}
