/**
 * Grundlegende Variablen
 *
 * @author  Marco Di Bella <mdb@marcodibella.de>
 * @package congressomat
 **/


$font-size:             16px;       // 1rem
$font-name:             'Roboto';
$max-width:             64rem;
$menu-boxshadow:        0 1em 2em -0.75em rgba(0,0,0,0.1);

$unit:	        0.625rem;
