/**
 * Eigene Farbpalette für den Gutenberg Block Editor.
 *
 * @author  Marco Di Bella <mdb@marcodibella.de>
 * @package cm
 */




/**
 * Farben (Hintergrund)
 */

.has-black-background-color {
    background-color: #000 !important;
}

.has-black-90-background-color {
    background-color: #191919 !important;
}

.has-black-80-background-color {
    background-color: #333 !important;
}

.has-black-70-background-color {
    background-color: #4c4c4c !important;
}

.has-black-60-background-color {
    background-color: #666 !important;
}

.has-black-50-background-color {
    background-color: #7f7f7f !important;
}

.has-black-40-background-color {
    background-color: #999 !important;
}

.has-black-30-background-color {
    background-color: #b2b2b2 !important;
}

.has-black-20-background-color {
    background-color: #ccc !important;
}

.has-black-10-background-color {
    background-color: #e5e5e5 !important;
}

.has-black-05-background-color {
    background-color: #f0f0f0 !important;
}

.has-white-background-color {
    background-color: #fff !important;
}



/**
 * Farben (Vordergrund)
 */

.has-black-color {
    color: #fff !important;
}

.has-black-90-color {
    color: #191919 !important;
}

.has-black-80-color {
    color: #333 !important;
}

.has-black-70-color {
    color: #4c4c4c !important;
}

.has-black-60-color {
    color: #666 !important;
}

.has-black-50-color {
    color: #7f7f7f !important;
}

.has-black-40-color {
    color: #999 !important;
}

.has-black-30-color {
    color: #b2b2b2 !important;
}

.has-black-20-color {
    color: #ccc !important;
}

.has-black-10-color {
    color: #e5e5e5 !important;
}

.has-black-05-color {
    color: #f0f0f0 !important;
}

.has-white-color {
    color: #fff !important;
}
