/**
 * Erzeugt eine "Mauer" mit den Logos der Kooperationspartner
 *
 * @author  Marco Di Bella <mdb@marcodibella.de>
 * @package cm
 **/



.icon-wall {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto !important;
    padding: 0 !important;

    li {
        fonts-size: 0;
        line-height: 0;
        text-align: center;
        margin: 0 !important;
        padding: 1rem 2rem;
        width: calc(50%);

        @include respond-to(medium) {
            width: calc(25%);
        }

        @include respond-to(large) {
            width: calc(20%);
        }
    }

    .is-squared img {
        max-width: 85px;
    }

    img {
        width: 100%;
        height: auto;
    }

    a {
        border-bottom: none;
        padding: 0;
        display: inline-block;

        &:hover,
        &:focus {
            background: transparent;
            border-bottom: none;
        }
    }
}
